.selected-subject {
    &-scheduled {
        cursor: pointer;
        padding: 6px 8px;
        display: inline-block;
        border: 1px solid $grey-grey;
        border-radius: 12px;
        margin-bottom: 0.6rem;

        &:hover {
            border-color: $flash-blue;
        }

        span,
        label {
            display: inline-block;
            font-size: .8125rem;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
        }

        .icon-attachement {
            flex-shrink: 0;
        }

        button {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 2px 3px;
            float: none;
            background-color: transparent;
            box-shadow: none;
            border-width: 1px;
            border-style: solid;
            border-radius: 8px;
            flex-shrink: 0;
            aspect-ratio: 1 / 1;

            &.download {
                border-color: $accent;

                [class*="icon"] {
                    fill: $accent;
                }

                &:hover {
                    background-color: $pale-orange;
                    border-color: transparent;
                }
            }

            &.remove {
                border-color: $red;

                [class*="icon"] {
                    fill: $red;
                }

                &:hover {
                    background-color: $pale-red;
                    border-color: transparent;
                }
            }
        }

        &.droppable {
            .icon-upload {
                fill: $flash-blue;
            }

            a {
                color: $flash-blue;
            }

            &:hover {
                .icon-upload {
                    fill: $orange;
                }
            }

        }
    }

    &-inner {
        vertical-align: middle;
        display: inline-flex;
        gap: 4px;
        align-items: center;
    }
}