.editEvent {
  &-time {
    margin-bottom: 15px !important;
  }

  &-itemColumn {
    width: max-content;
  }

  &-attachments {
    display: flex;
    flex-direction: column;

    &-buttonSection {
      display: flex;
      justify-content: left;

      i {
        transform: rotate(-45deg);
      }

    }
    &-fileSection {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      &-list {
        max-width: 150px;

        &-item {
          display: flex;

          &-title {
            color: $calendar-blue;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &-cross {
            font-size: 10px;
          }
        }

        &:hover .tooltip-title {
          @include tooltipVisible();
        }

        .tooltip-title {
          @include tooltipTemplate(150px);
          bottom: 33px;
          margin-left: -47px;

          &:after {
            @include tooltipBottomArrow();
            top: 100%;
            left: 15%;
          }
        }

      }
    }
  }

  .content .flex-row {
    height: 150px;
  }

  .content::after {
    content: unset;
  }
}