assistant{
    z-index: 100001 !important;
    position: relative;
    .close-lightbox{
        display: none;
    }
    .ignore{
        position: absolute;
        top: 0;
        right: 0;
    }
    lightbox{
        .content{
            border: 20px solid blue;
        }
    }
}