
.badge{
	border-radius: 10px;
	background: #ccc;
	font-weight: bold;
	font-size: 0.8em;
	padding: 2px 15px 2px 15px;
	display: inline-block;
	text-align: center;
}

.label-badge{
	display: inline-block;
}
