.chip{
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    i{
        margin-right: 3px;
        font-size: 14px;
    }
    span{
        font-size: 11px;
    }
    input{
        display: none;
    }

}

.chip:hover, .chip:active{
    box-shadow: 2px 2px 4px 0px $shadow-darker inset;
}

.chip.selected{
    box-shadow: 2px 2px 1px 0px  $shadow;
    background: $primary;

    i{
        &:hover{
            &:before{
                color: $black!important;
            }
        }
    }
}
.chip.selected:hover{
    box-shadow: 2px 2px 1px 0px  $shadow-darker;
}


.chip.multiselect{
    text-transform: uppercase;
    margin-right: 12px;
    font-weight: bold;
    word-spacing: 5px;
}

.chip.removable, .chip.movable{
    border: 1px solid $medium-grey;
    background: $white;
    box-shadow: none;
    text-shadow: none;
    padding-right: 0;
    padding-left: 5px;
    padding-bottom: 0;
    line-height: 27px;
    cursor: default;
    span{
        &.round {
            margin-top: 4px;
        }
        &.circle {
            margin-top: 9px;
            margin-left: 6px;
        }
        &.cell-ellipsis {
            color: $black;
            padding-left: 10px;
            margin-right: 40px;
        }
    }
    i{
        cursor: pointer;
        padding: 0 12px;
        &:before{
            color: $solid-grey!important;
            text-shadow: none!important;
            vertical-align: top;
            @include run-transition;
        }
    }
}

.chip.removable { 
    i {
        &:before {
            font-size: 10px;
        }
        &:hover {
            &:before {
                color: $warning-color!important;
            }
        }
    }
    &.chip-hover {
        cursor: pointer;
        &:hover {
            i:before {
                color: $warning-color!important;
            }
        }
    }
}

.chip.movable { 
    i{
        &:before{
            font-size: 14px;
        }
        &:hover{
            &:before{
                color: $valid-color!important;
            }
        }
    }
    &.chip-hover {
        cursor: pointer;
        &:hover {
            i:before {
                color: $valid-color!important;
            }
        }
    }
}

.scroll-nine-chips {
    max-height: 326px;
    overflow: auto;
}

@media screen and (max-width: $small-mobile){
    body{

        .chip{
            margin: 10px auto;
            display: block;
            width: 75%;
            max-width: 200px;
            line-height: 28px;
            padding: 0 20px;
            @include run-transition(all);
            i{
                margin-right: 10px;
                font-size: 14px;
            }
        }

        recipient-list .chip{
            margin: 10px;
            max-width: none;
            line-height: 28px;
            padding-right: 5px;
            i{
                margin-right: 0;
            }
        }

        .chip.multiselect{
            margin-right: 5px;
            display: inline-block;
            width: auto;
            &:after{
                content:" ";
                display: block;
                width: 100%;
            }
        }
    }
}
