.chip{
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    i{
        margin-left: 10px;
        margin-right: 3px;
        font-size: 14px;
    }
    span{
        font-size: 11px;
    }
    span.cell-ellipsis{
        width: 95%;
        text-align: right;
    }
    input{
        display: none;
    }

}

.chip.multiselect{
    text-transform: uppercase;
    margin-right: 12px;
    font-weight: bold;
    word-spacing: 5px;
}

.chip.removable{
    border: 1px solid $medium-grey;
    background: $white;
    box-shadow: none;
    text-shadow: none;
    span{
        color: $black;
    }
    i{
        &:before{
            color: $solid-grey!important;
            text-shadow: none!important;
            font-size: 10px;
            vertical-align: top;
            @include run-transition;
        }
    }
    &:hover{
        i:before{
            color: $warning-color!important;
        }
    }
}

input.chip-input{
    border: 0 !important;
    margin-bottom: 5px !important;
}

form label{
    display: inline-block;
    white-space: nowrap;
}

form.input-help{
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

my-directive{
    border-bottom: 1px solid #ddd;
}

my-directive.focus{
    border-bottom: 2px solid $accent;
    label{
        color: $accent;
    }
}

@media screen and (max-width: $small-mobile){
    body{
        .chip{
            margin: 10px auto;
            display: block;
            width: 75%;
            max-width: 200px;
            line-height: 28px;
            padding: 0 20px;
            @include run-transition(all);
            i{
                margin-right: 10px;
                font-size: 14px;
            }
        }
        .chip.multiselect{
            margin-right: 5px;
            display: inline-block;
            width: auto;
            &:after{
                content:" ";
                display: block;
                width: 100%;
            }
        }
    }
}