
.color-picker{

	position: static;
	right: 18px;
	top: 3px;
	width: 30px;
	float: left;
	vertical-align: middle;
    z-index: 10;

	button.colors-opener{
		background-size: auto 100%;
		background-color: transparent;
		float: right;
	}

	button.transparent{
		border: 1px solid $medium-grey;
		background: url('../../img/icons/transparent_color.png');
	}
	button.white{
		background: $white;
		border: 1px solid $medium-grey;
	}
	button.black{
		background: $black;
	}
	button.pink{
		background: $red;
	}
	button.purple{
		background: $purple;
	}
	button.blue{
		background: $cyan;
	}
	button.green{
		background: $green;
	}
	button.orange{
		background: $orange;
	}


	.colors-list{
		overflow: hidden;
		height: 0;
		width: 0;
		float: left;
	    margin-left: 12px;
		@include run-transition(width);

		button{
			margin-right: 7px;
			margin-top: 10px;
			height: 15px;
			width: 15px;
			padding: 0;
			box-sizing: border-box;
		}
		button:hover {
            border: 1px solid $primary;
        }
	}
	button{
		margin: 0px;
		height: 30px;
		width: 30px;
		float: left;
	}
}

.color-picker.opened{
	width: auto;
	.colors-list{
		width: 180px;
        height: 33px;
        border-radius: 5px;
	}
}
