.emptyscreen {
    text-align: center;

    .emptyscreen-header {
        font-size: 28px;
    }

    .emptyscreen-image {
        max-width: 50%;
        max-height: 40vh;
    }

    .emptyscreen-footer {
        font-size: 18px;
        line-height: 1.5;
        color: $darkest-grey;
    }
}
