.emptyscreen {
    text-align: center;

    .emptyscreen-header {
        font-size: 20px;
    }

    .emptyscreen-image {
        max-width: 40%;
        max-height: 30vh;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .emptyscreen-footer {
        font-size: 14px;
        line-height: 1.5;
        color: $solid-grey;
    }
}
@media screen and (max-width: $fat-mobile) {
    .emptyscreen {
        .emptyscreen-header {
            font-size: 18px;
        }

        .emptyscreen-footer {
            font-size: 12px;
        }
    }
}