file-picker-list {
    .media-library {
        .import-files {
            padding: unset;
            height: 112px;
            margin-bottom: 10px;

            & > article {
                top: 22px;
                left: 70px;
            }
        }

        .loading-list {
            overflow-y: scroll;
            max-height: 112px;
            margin-bottom: 10px;

            ul {
                li {
                    margin-bottom: 10px;
                    padding: 5px 5px 5px 20px;
                }
            }
        }
    }
}