.split-screen{
    &.split{
        .loading-list{
            width: 30%;
            ul li{
                .status-infos{
                    flex-direction: column-reverse;
                }
                .close{
                    opacity: 1;
                }
            }
        }
    }
}



.loading-list{
    width: 100%;
    transition: 150ms linear;
    float: left;
    height: 520px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;

    ul{
        margin-top: 0;
        padding: 0;

        li{
            list-style-type: none;
            position: relative;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
            padding: 15px;
            padding-right: 35px;
            border: 1px solid #ddd;
            transition: all 250ms ease-out;
            cursor: default;

            &.image-file{
                box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
                cursor: pointer;
            }
            &.selected{
                background: $primary;
                color: #fff;
            }

            .icon{
                i{
                    background-position: top left;
                    min-width: 17px;
                    text-align: center;
                    transition: all 250ms ease;
                }
                i.edit{
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    border: 1px solid $primary;
                    color: $primary;
                    width: 20px;
                    height: 20px;
                    background: $white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    &::before{
                        font-size: 11px;
                    }
                }
            }

            .title{
                width: 100%;
                min-width: 55px;
                margin-left: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .status-infos{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                min-width: 60px;
                white-space: nowrap;
                margin-right: 5px;
            }

            &.loading{
                color: #888;
            }
            i.loading, i.loaded, i.failed{
                font-size: 22px;
            }

            .close{
                position: absolute;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                right: 0;
                height: 100%;
                top: 0;
                padding: 8px;
                border-radius: 0;
                border-left: 1px solid #ddd;
                background: none;
                color: $red;
                opacity: 0;
                transition: 250ms ease;
                &:hover{
                    opacity: 1!important;
                    background: $red;
                }
            }
            &:hover{
                i.edit{
                    color: $accent;
                    border-color: $accent;
                    transform: scale(1.1);
                }

                .close{
                    opacity: 0.4;
                }
            }
        }
    }

    i.loaded{
        color: $green;
    }
    i.loading{
        color: $cyan;
    }
    ul li.image-file{
        border-color: $primary;
        &:hover{
            border-color: $accent;
            .icon{
                i.edit{
                    color: $accent;
                }
            }
        }
    }
}


@media screen and (max-width: $tablette) {
    .split-screen{
        &.split{
            .loading-list{
                //must disappear
                width: 0%;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    .loading-list{
        height: 400px;
        ul li{
            .status-infos{
                flex-direction: column-reverse;
            }

            &:hover .close, .close{
                opacity: 1;
            }
        }

    }
}
