article.list-view.mailbox, article.mail {

    .row {
        margin-bottom: 0;
    }

    .avatar {
        position: relative;
        width: 65px;
        height:65px;

        img, i {
            border-radius: 50%;
            -moz-border-radius:50%; 
            background: $primary;
            width: 100%;
            height: 100%;
            border: none;
        }

        i {
            content: "\e804";
            color: $yellow;
        }

        label {
            position: absolute;
            bottom: -8px;
            left: 55px;
            width: 25px;
            height: 25px;
            line-height: 30px;
            text-align: center;
            font-size: 12px;
            background: none;
        }
    }

    i {
        font-size: 25px;
    }

    div.states {
        width: 6em;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    div.notification-attachment {
        position: absolute;
        right: 35px;
        bottom: 8px;
    }
}

article.mail, article.write-mail {
    padding: 1.5em 3em 1.5em 3em;

    .avatar {
        width: 80px;
        height:80px;
        display: inline-block;
        margin-right: 1em;
    }

    .text-flow {
        vertical-align: top;
    }
}