
//write mail
article.solid form .right-magnet {
    margin: 10px;
}


.mailbox-tools{
    .check-col{
        width: 72px;
        .wrapping-checkbox{
            top: 5px;
            i18n:after{
                top: -6px;
            }
        }
    }
    .status-filter{
        width: 80px;
        height: 40px; //(keep mailboxtools height)
        .chip{
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }
    }
    .search-pagination {
        // voir si specific tools ou pas
        a {
            overflow: hidden;
            width: 0;
            transition: all 250ms ease;

            &.show-close {
                width: 40px;
            }
        }
    }
}



article.mail, article.write-mail {

    padding: 15px 30px;

    .avatar {
        width: auto;
        height:auto;
        img{
            width: 75px;
            min-width: 75px;
            height: 75px;
            border: 1px solid $light-grey;
            border-radius: 50%;
        }
    }

}




//opened mail wrapper
article.mail {

    div.states {
        width: 6em;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    div.notification-attachment {
        position: absolute;
        right: 35px;
        bottom: 8px;
    }
}

article.write-mail {
    .receivers, .subject {
        label.two {
            margin-top: 20px;
        }
    }
    .subject input {
        min-height: 40px;
    }
}
