.pills{
    padding: 0;
    margin-top: 0;
    li{
        cursor: pointer;
        background: #d0d0d0;
        color: #fff;
        border-radius: 25px;
        list-style-type: none;
        display: inline-block;
        transition: all 250ms ease;
        margin: 1px;
        &:hover{
            background: #aaa;
        }
        &.selected{
            background: blue;
        }
        label{
            padding: 10px;
            display: block;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}