
.flex-row{
	display: flex;
	position: relative;

	&.flex-start{
		align-items: flex-start;
	}
	&.flex-center{
		align-items: center;
	}
	&.flex-end{
		align-items: flex-end;
	}

	&.justify-start{
		justify-content: flex-start;
	}
	&.justify-center{
		justify-content: center;
	}
	&.justify-end{
		justify-content: flex-end;
	}
}


.fixed{
	@include absolute;
}


.v-center-container{
	display: table;
	.v-center{
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		img{
			width: 100%;
		}
	}
}

.clear{
  clear: both;
}


.bottom-locked{
	@include bottom-locked;
}
