
// contains description
pulsar{
     z-index: 200000;
     position: absolute;
     nav.dots{
         li.dot{
             width: 30px;
             height: 30px;
             &::before{
                 font-size: 60px;
             }
         }
     }
    .content{
        background: #fff;
        width: 400px;
        box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
        padding: 15px;
        box-sizing: border-box;
        border: 6px solid #DDD;
        border-radius: 2px;
        position: relative;

        >div.text{
            margin-top: 50px;
            margin-bottom: 20px;
        }

        button{
            box-shadow: none;
            font-size: 12px;
            padding: 6px 20px 6px;
            float: right;
            margin-bottom: 0;
        }
        .close{
            position: absolute;
            right: 10px;
            top: 6px;
            &::before{
                font-size: 16px;
            }
        }
        .inf{
            position: absolute;
            left: 10px;
            top: 10px;
            color: #fff;
            background: orange;
            border-radius: 15px;
            line-height: 30px;
            text-align: center;
            width: 30px;
            height: 30px;
            &::before{
                font-size: 25px;
                content: 'i';
                font-style: italic;
                font-weight: bold;
                display: inline-block;
                margin-left: -2px;

            }
        }
    }
    .arrow{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent #ddd transparent;
        z-index: 1;
        position: absolute;
    }
    &.middle{
        .arrow{
            left: calc(50% - 5px);
            top: -13px;
        }
    }
    &.right{
        .arrow{
            transform: rotate(270deg);
            top: calc(50% - 5px);
            left: -21px;
        }
    }

    &.left{
        .arrow{
            transform: rotate(90deg);
            top: calc(50% - 7px);
            right: -20px;
        }
    }

    &.left.center, &.right.center{
        .arrow{
            top: calc(50% - 22px);
        }
    }
    &.top.center{
        .arrow{
            transform: rotate(180deg);
            top: 100%;
            left: calc(50% - 7px);
        }
    }
    &.bottom{
        .arrow{
            top: -13px;
        }
        &.center{
            .arrow{
                left: calc(50% - 21px);
            }
        }
    }
    &.bottom.right, &.bottom.left{
        .arrow{
            transform: rotate(0deg);
        }
    }
    &.bottom.right{
        .arrow{
            left: 0
        }
    }
    &.bottom.left{
        .arrow{
            top: 0;
            right: 0;
            left: auto;
        }
    }
    &.bottom.center{
        left: calc(50% - 5px);
    }
}


//shadow overlay
.pulsar-layer{
    background: rgba(50,50,50,0.5);
    position: absolute;
    z-index: 150000;
}


//pulsing element




$sizePulsar: 40px;
$sizeWave: 52px;
$stroke: 6px;
$pulsedelay: 0.3s;
$pulseanim: 1s;

.pulsar-button{
    position: absolute;
    z-index: 100000;
    width: $sizePulsar;
    height: $sizePulsar;
}

.pulse-spot{
    // display: block;
    position: absolute;
    // z-index: 100000;
    box-sizing: border-box;

    width: $sizePulsar;
    height: $sizePulsar;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid transparent;
    font-size: 18px;
    text-align: center;
    line-height: ($sizePulsar - 9);
    font-weight: bold;
    color: $white;
    background: $accent;
    @include run-transition(all);

    &::before{
        content: 'i';
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
    &.hidden{
        opacity: 0;
    }
}


.pulsar-button:hover{
    .pulse-spot{
        font-size: 22px;
        border: 4px solid rgba($white, 0.3);
    }
    .pulse,
    .pulse2 {
        &::after {
            box-shadow: 0 0 5px $stroke rgba(255, 237, 20, 0.6);
        }
    }
}



.pulse,
.pulse2 {
    height: $sizeWave;
    width: $sizeWave;
    position: absolute;
    z-index: -1;
    top: -($sizeWave/2 - $sizePulsar/2);
    left: -($sizeWave/2 - $sizePulsar/2);
    &::after {
        transform: scale(0.1, 0.1);
        content: "";
        border-radius: 50%;
        height: $sizeWave;
        width: $sizeWave;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 5px $stroke rgba(120, 218, 255, 0.6);
        animation: pulsate $pulseanim ease-out;
        animation-iteration-count: infinite;
        opacity: 0.5;
        @include run-transition(all);
    }
}

.pulse2::after {
    animation: pulsate $pulseanim ease-out;
    animation-iteration-count: infinite;
    animation-delay: $pulsedelay;
}
