recipient-list{
    div {
        border-bottom: 1px solid #ddd;
        transition: all 250ms linear !important;
        flex-wrap: wrap;
    }

    div.focus {
        box-shadow: inset 0px -1px 0 0px $accent;
        border-bottom: 1px solid $accent;
    }

    input.chip-input {
        border: 0 !important;
        margin: 0 !important;
    }

    form label {
        display: inline-block;
        white-space: nowrap;
    }

    form {
        position: relative;
        display: inline-block;
        margin-left: 5px;
        flex: auto;
    }
}