recipient-list{
    border-bottom: 1px solid #ddd;
}

recipient-list.focus{
    border-bottom: 2px solid $accent;
    label{
        color: $accent;
    }
}

input.chip-input{
    border: 0 !important;
    margin-bottom: 5px !important;
}

form.input-help label{
    display: inline-block;
    white-space: nowrap;
}

form.input-help{
    position: relative;
    display: inline-block;
    margin-left: 5px;
}