.action-cell{
	width:30px;
	height: 30px;
}




section.selected, article.selected{
	background: $medium-grey;
}


article.media{
	border: 2px dashed $medium-grey;
}

article{
	border: 1px solid $medium-grey;
	padding: 8px;
}

article.preview{
	height: auto;
	max-height: 465px;
	@include run-transition(max-height);
}

.user-infos{
	line-height: 25px;
	input[type=text]{
		margin: 0;
	}
}


.bookmarked-apps{
	min-height: 48px;
	margin-bottom: 30px;
	background-color: rgba(white, 0.75);
	border: 1px solid transparent;
	box-shadow: 1px 1px 10px rgba(black, 0.1);
	font-size: 24px;
	border-radius: 5px;
	text-align: center;
	.icons-view.apps{
		margin-top: 0;
	}
	.container {
		font-weight: bold;
	}
}

.app--scrapbook  {
  .create-btn {
    position: absolute;
    top: -55px;
		right: 0;
  }
  .display-buttons {
    margin-top: -35px;
  }
}
