switch-search {
    .search-pagination {
        justify-content: space-between !important;
        transition: all 2s linear;
    }

    .hide-search {
        input {
            width: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
        }

        i {
            left: 0 !important;
        }

        i.close-2x {
            display: none !important;
        }
    }

    :not(.hide-search) {
        ng-transclude {
            display: none !important;
            opacity: 0;
        }
    }
}

@media screen and (min-width: $tablette){
    switch-search {
        input, i {
            display: none !important;
        }
    }
}