
.toggle-panel{
	background: $grayLight;
	h1,h2{
		margin-left: 5px;
	}
	.toggle{
		width: 300px;
		padding: 20px;
		.row{
			min-height: 0;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				margin-left: 5px;
			}
		}
	}
	width: 300px;
	position: absolute;
	top: 2px;
	right: -15px;
	overflow: hidden;
	@include run-transition(width);
	z-index: 5;
}

.toggle-panel.hide{
	overflow: hidden;
	width: 0;
	@include run-transition(width);
}
