.vertical-card{
    figure{
        margin: 5px 15px 0;
    }
    figcaption{
        margin: 15px 10px 0;
        padding: 15px 0px 10px;
        border-top: 1px solid $grayLight;
    }
    i, img{
        margin: auto;
        font-size: 35px;
        color: $white;
    }
    img{
        display: block;
    }
}
