.videocontroller {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-content: center;
	.controls{
		display: flex; 
		justify-content: center; 
		margin-top: 20px;
		button{
			width: 50px;
			height: 50px;
			background: $orange;
			background-color: $orange;
			background-repeat:no-repeat;
			background-position:center;
			display:inline-block;
			box-sizing:border-box;
			vertical-align:middle;
			box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 3px rgba(0,0,0,0.24);
			margin: 0 5px;
		}
		button i{
			color: $white;
			margin: 0;
			line-height: 12px;
			height: 12px !important;
		}
		button[disabled]{
			opacity: 0.4;
			background-repeat:no-repeat;
			background-position:center;
		}
		.pause{
			background-image:url("../../img/icons/glyphicons_174_pause.png");
		}
		.play{
			background-image:url("../../img/icons/glyphicons_173_play.png");
		}
		.save{
			background-image:url("../../img/icons/glyphicons_443_floppy_disk.png");
		}
		.remove{
			background-image:url("../../img/icons/glyphicons_207_remove_2_accent.png");
		}
	}
}
