
$light-tone: #8eefff !default;
$medium-tone : #0f9df1 !default;


body.wayf{
    font-family: sans-serif!important;

    header{
        overflow: hidden;
        margin: 40px 0;
        display: flex;
        align-items: center;
    }

    .logo{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-size: contain;
        background-position: center!important;
    }
    h1{
        padding: 0 10px;
        font-weight: bold;
        font-size: 40px;
        margin: 0;
        padding-top: 5px;
        line-height: 50px;
        letter-spacing: 1px;
        @include font-gradient($orange, $purple, left);
    }

    h2{
        text-align: center;
        padding-bottom: 15px;
        font-size: 2.0vh;
    }

    #credentials-content{
        position: relative;
        max-width: 900px;
        margin: 0 auto 50px;
        padding: 30px 30px 60px;
        border-radius: 7px;
        background: $white;
        box-shadow: 6px 6px 1px rgba($black, 0.38);
    }

    .dominos{
        display: block;
        float: unset;
    }

    .dominos .item{
        padding: 10px;
        display: block;
        max-width: unset;
        min-width: unset;
        float: unset;
        width: unset;
        box-shadow: unset;
    }

    .dominos .item a{
        color: $white!important;
        font-size: 1.8vh;
        line-height: 80%;
    }

    .dominos .item .domino {
        border-radius: 15px;
        display: inline-block;
        width: 100%;
    }

    .student {
        background: $orange;
    }

    .loginstudent {
        background: $orange;
    }

    .otherstudent {
        background: $orange;
    }

    .teacher {
        background: $green;
    }

    .loginteacher {
        background: $green;
    }

    .otherteacher {
        background: $green;
    }

    .relative {
        background: $cyan;
    }

    .loginrelative {
        background: $cyan;
    }

    .otherrelative {
        background: $cyan;
    }

    .perseducnat {
        background: $purple;
    }

    .loginperseducnat {
        background: $purple;
    }

    .otherperseducnat {
        background: $purple;
    }

    .loginother {
        background: $pink;
    }
}

@media screen and (max-width: $tablette) {
    body.wayf{
        background: none;
        h2{
            font-size: 15px;
        }
        a{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: $fat-mobile) {
    body.wayf{
        background: none;
        h2{
            font-size: 12px;
        }
        a{
            font-size: 11px;
        }
        .dominos .item {
            padding: 5px;
        }
    }
}
