.bpr {
  textarea {
    resize: vertical;
    height: 100px;
    margin-top: 0;
  }

  .loading-list {
    overflow: auto!important;
  }

  button.select-button {
    & span {
      font-size: 14px;
      &.active {
        color: inherit;
      }
    }
  }

  .multiline-ellipsis-two {
    line-height: 1;
    font-size: 14px!important;
  }

  .search-pagination input + i.search {
    font-size: 18px;
  }

  .smaller-text {
    font-size: 12px!important;
  }

  .lightbox-view .search-pagination input, .lightbox .search-pagination input {
    padding-left: 0!important;
  }

  .noUi-connect {
    background: $accent !important;
  }
  .noUi-horizontal {
    height: 10px;
  }
  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
  }
  .noUi-handle:before,
  .noUi-handle:after {
    width: 0;
  }

  file-picker-list .media-library .import-files {
    height: 70px;
    margin-right: 20px;
    border: none;
    & > article {
      top: 5px;
      left: 3px;
      width: 400px;
      & .cloud-upload {
        visibility: hidden;
      }
      & .help {
        font-size: 0.7em;
      }
    }
  }

  .file-picker_preview {
    max-width: 120px;
  }

  .file-image {
    font-size: 64px;
    opacity: 0.3;
  }

  .licence_image {
    height: 21px;
    max-width: unset;
  }

  .language,
  .description {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-family: "Roboto";
    font-size: 14px;
  }
  .licence-condition {
    color: $grey;
    .info-pic {
      color: $grey;
      &:before {
        font-size: 21px;
      }
    }
  }
  i.congrats {
    float: left;
    color: $yellow;
    font-size: 100px;
    margin: -10px 15px 0;
  }
}
