i.cloud-upload{
    @include fonticon;
    &::before{
        content: '\e9c3'
    }
}

i.undo, .undo > i{
    @include fonticon;
    &::before {
        content: '\e8be';
    }
}

i.redo, .redo > i{
    @include fonticon;
    &::before {
        content: '\e8bd';
    }
}
i.loaded{
    @include fonticon;
    transform: rotate(0deg);
    &::before{
        content: '\e915';
    }
}

i.loading{
    animation: rotate 1000ms linear infinite;
    @include fonticon;
    &::before{
        content: '\e85a';
    }
}

i.back{
    @include fonticon;
    &::before{
        content: '\e84c';
    }
}

i.forward{
    @include fonticon;
    transform: rotate(180deg);
    &::before{
        content: '\e84c';
    }
}

i.rotate{
    @include fonticon;
    &::before{
        content: '\e92b';
    }
}

i.crop{
    @include fonticon;
    &::before{
        content: '\ea57';
    }
}

i.blur{
    @include fonticon;
    &::before{
        content: '\e92e';
    }
}

i.resize{
    @include fonticon;
    &::before{
        content: '\e865';
    }
}

i.properties{
    @include fonticon;
    &::before{
        content: '\e854';
    }
}

.option.justify-left > i, i.justify-left {
    @include fonticon;

    &::before {
        content: '\e8b8';
    }
}

.option.justify-right > i, i.justify-right {
    @include fonticon;

    &::before {
        content: '\e8b6';
    }
}

.option.justify-center > i, i.justify-center {
    @include fonticon;

    &::before {
        content: '\e8b7';
    }
}

.option.justify-full > i, i.justify-full {
    @include fonticon;

    &::before {
        content: '\e8b5';
    }
}

.option.bold > i{
    @include fonticon;
    &::before{
        content: '\e8b9';
    }
}
.option.italic > i{
    @include fonticon;
    &::before{
        content: '\e8b4';
    }
}
.option.underline > i{
    @include fonticon;
    &::before{
        content: '\e8b1';
    }
}
.option.justify-left > i{
    @include fonticon;
    &::before{
        content: '\e8b8';
    }
}
.option.justify-right > i{
    @include fonticon;
    &::before{
        content: '\e8b6';
    }
}
.option.justify-center > i{
    @include fonticon;
    &::before{
        content: '\e8b7';
    }
}
.option.justify-full > i{
    @include fonticon;
    &::before{
        content: '\e8b5';
    }
}
.option.subscript > i{
    @include fonticon;
    &::before{
        content: '\e8b0';
    }
}
.option.superscript > i{
    @include fonticon;
    &::before{
        content: '\e8af';
    }
}
.option.quote > i{
    @include fonticon;
    &::before{
        content: '\e8c2';
    }
}
.option.ulist i{
    @include fonticon;
    &::before{
        content: '\e8ad';
    }
}
.option.olist > i{
    @include fonticon;
    &::before{
        content: '\e8ae';
    }
}
.option.image> i{
    @include fonticon;
    &::before{
        content: '\e84a';
    }
}
.option.attachment> i{
    @include fonticon;
    &::before{
        content: '\e805';
    }
}
.option.sound > i{
    @include fonticon;
    &::before{
        content: '\e839';
    }
}
.option.table{
    popover{
        > i{
            @include fonticon;
            top: -6px;
            &::before{
                content: '\e8b3';
                color: black;
            }
        }
    }
}
.option.linker{
    > i{
        @include fonticon;
        &::before{
            content: '\e84d';
        }
    }
}
.option.smileys{
    > i {
        @include fonticon;
        &::before{
            content: '\e8c0';
        }
    }
}
.option.unlink > i{
    @include fonticon;
    &::before{
        content: '\e8bf';
    }
}
.option.embed > i{
    @include fonticon;
    &::before{
        content: '\e872';
    }
}
.option.audio > i{
    @include fonticon;
    &::before{
        content: '\e839';
    }
}
.option.color > i{
    @include fonticon;
    &::before{
        content: '\e8c4';
    }
}
.option.background-color > i{
    @include fonticon;
    &::before{
        content: '\e8c4';
    }
    color: #fff;
}

i.help-large, i.help.cas, i.help{
    @include fonticon;
}
i.help-large::before, i.type.help::before, i.help::before{
    content: '\e835';
    cursor: pointer;
}

i.tools:before{
    content: '\e855';
    font-size: 23px;
  }