
////////    COLORS


// also bootsrap-adapter
$white: #fff !default;
$grayLight: #ccc !default;
$grayLighter: #eee !default;

$btnPrimaryBackground: $grayLight !default;


////////    FONTS


//bootsrap-adapter
$baseFontSize: 12px !default;


////////    SIZES


$icon-list-size: 117px !default;
$icon-list-padding: 7px !default;

$header-height: 150px !default;
