
////////    COLORS


// also bootsrap-adapter
$white: #fff;
$grayLight: #ccc;
$grayLighter: #eee;

$btnPrimaryBackground: $grayLight;


////////    FONTS


//bootsrap-adapter
$baseFontSize: 12px;


////////    SIZES


$icon-list-size: 117px;
$icon-list-padding: 7px;

$header-height: 150px;
