// Generic Class Form Elements
input[type="text"]:not(.score),
textarea {
  font-family: "Work Sans";
  flex: 1;
  padding: 12px 16px;
  margin-bottom: 0;
  height: 48px !important;
  border-radius: 8px;
  font-size: 14px;
  color: $grey-black;
  border: 1px solid $grey-cloudy;
  box-shadow: none;
  background-color: $white;
  transition: border 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:focus {
    border-width: 2px;
    border-color: $grey-stone;
    box-shadow: none;
  }

  &[role="textbox"].drawing-zone {
    min-height: 130px;
  }

  &[role="textbox"].drawing-zone:focus {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    color: $grey-stone;
  }

  &.ng-not-empty {
    border-color: $grey-stone;
  }

  &[disabled] {
    color: $darkest-grey;
  }
}

// INPUTS
.input-response-correct,
.input-response-incorrect {
  padding: 5px 15px;
  height: inherit;
}

.input-response-correct {
  color: darken($green, 10%) !important;
  border: 1px solid $green !important;
  background-color: rgba($green, 0.1);
}

.input-response-incorrect {
  color: darken($red, 10%) !important;
  border: 1px solid $red !important;
  background-color: rgba($red, 0.1);
}

// TEXTAREAS

editor > textarea {
  font-family: monospace;
}

textarea {
  resize: none;
}

.form-label {
  color: $grey-black;
  font-size: .875rem;
  font-weight: 600;
  line-height: 22px;
}

.form-info {
  font-size: .75rem;
  font-weight: 400;
  line-height: 20px;
  color: $grey-graphite;
}