:not(text-zone)>input[type="text"]:not(.score),
textarea {
  flex: 1;
  padding: 12px 16px;
  margin-bottom: 0;
  height: 48px;
  border-radius: 4px;
  font-size: 14px;
  color: $grey-black;
  border: 1px solid $grey-cloudy;
  box-shadow: none;
  background-color: $white;
  box-sizing: border-box;
  transition: border 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:focus {
    border-width: 2px;
    border-color: $grey-stone;
    box-shadow: none;
  }

  &[role="textbox"].drawing-zone {
    min-height: 130px;
  }

  &[role="textbox"].drawing-zone:focus {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    color: $grey-stone;
  }

  &.ng-not-empty {
    border-color: $grey-stone;
  }

  &[disabled] {
    color: $darkest-grey;
  }
}

// INPUTS
.input-response-correct,
.input-response-incorrect {
  padding: 5px 15px;
  height: inherit;
}

.input-response-correct {
  color: darken($green, 10%) !important;
  border: 1px solid $green !important;
  background-color: rgba($green, 0.1);
}

.input-response-incorrect {
  color: darken($red, 10%) !important;
  border: 1px solid $red !important;
  background-color: rgba($red, 0.1);
}

// TEXTAREAS

editor > textarea {
  font-family: monospace;
}

textarea {
  resize: none;
  height: inherit;
}

.form-label {
  color: $grey-black;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 22px;
}

.form-info {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 20px;
  color: $grey-graphite;
}

editor [contentEditable=true][placeholder]:empty:before {
  content: attr(placeholder);
  opacity: 0.3;
  font-style: italic;
  font-size: 0.9rem;
}

// SELECT
:not(text-zone)>select {
  min-width: 10rem;
  padding: 12px 8px 12px 16px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid $grey-cloudy;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right .75em center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjAxIDUuMTUzYTEuMTI1IDEuMTI1IDAgMCAxIDEuNTg3LjEwNkw5IDEwLjI5Mmw0LjQwMy01LjAzM2ExLjEyNSAxLjEyNSAwIDEgMSAxLjY5NCAxLjQ4MmwtNS4yNSA2YTEuMTI1IDEuMTI1IDAgMCAxLTEuNjk0IDBsLTUuMjUtNmExLjEyNSAxLjEyNSAwIDAgMSAuMTA2LTEuNTg4WiIgZmlsbD0iIzRBNEE0QSIvPgo8L3N2Zz4K);

  &:focus {
    border-width: 2px;
    border-color: $grey-stone;
    box-shadow: none;
  }
}

.option-edited-dates {
  input[type="text"] {
    padding: 0 10px !important;
    height: auto !important;
  }

  .one {
    width: 80px !important;
  }

  .two {
    width: 100px !important;
  }
}

.input-date {
  width: 120px;
  max-width: 120px;
}