.options {
    min-height: 150px;
    background: $lightest-grey;
    // margin-bottom: 20px;
    // background: $lightest-grey;
    // padding: 10px;
    // margin-top: 10px;
    // border-radius: 3px;
    // transition: background 250ms ease;

    ul {
        padding: 0;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;

        li {
            z-index: 20;
        }
    }

    &.lightbox {
        padding: 0;
        margin: 0;
        background-color: transparent;

        ul {
            justify-content: flex-start;
        }
    }

    &.center {
        padding: 0;
        display: flex;
        margin: 0;
        place-content: center;
        place-items: center;

        ul {
            gap: 12px;
            margin: 0;
            justify-content: flex-start;
        }
    }


    .add-option {
        input[type="text"] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &>button {
            padding: 0;
            margin: 0;
            width: 46px;
            background: $flash-blue;
            box-shadow: none;
            border-radius: 0 8px 8px 0;

            &[disabled] {
                background-color: $grey-grey;
            }

            .icon-plus {
                fill: $white;
            }
        }

    }
}

.options text-zone {
    width: auto;
}