.sticky-nav {
  position: sticky;
  top: 5rem;
  align-self: start;
  border-radius: 8px;
}

nav {
  &.floating-navigation,
  &.vertical {
    margin-bottom: 0;
    padding: 0;
  }

  &.mobile-navigation {
    padding-right: 0 !important;
    border-left: 0 !important;

    ul li.selected {
      background: rgba(0, 0, 0, 0.26);
      font-weight: bold;
    }
  }
}

.side-nav {
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
  background-color: $white;

  .content {
    margin-top: 1rem;
    background: transparent;
    border: 0;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style: none;
      padding: 0;
    }
  }

  h2.float-title {
    margin: 0;
    text-align: left;
    color: $grey-black;
    font-size: 1.125rem;
    text-transform: none;
    font-weight: 500;
  }



  .floating-navigation li {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 1px solid $grey-cloudy;
    box-shadow: none;

    a {
      display: block;
      margin: 0;
      padding: .75rem;
      font-size: .875rem;
      color: $grey-black;
    }
  }

  /* Floating nav selected */
  .floating-navigation li.selected,
  .floating-navigation li:hover {
    background: $grey-pearl;
    box-shadow: none;

    a {
      color: $grey-black;
    }
  }
}
