.sticky-nav {
  position: sticky;
  top: 5rem;
  align-self: start;
}

nav {
  &.floating-navigation,
  &.vertical {
    margin-top: 0;
    padding-top: 0;
  }

  &.vertical.floating.hash-magnet {
    margin-bottom: 0;
  }

  &.mobile-navigation {
    padding-right: 0 !important;
    border-left: 0 !important;

    ul li.selected {
      background: rgba(0, 0, 0, 0.26);
      font-weight: bold;
    }
  }

  /* Floating nav selected */
  &.floating-navigation li.selected {
    background: $orange;
    box-shadow: none;

    & a {
      color: white;
    }
  }
}
