.tabs {
    &.dashboard-tabs {

        .tabs-inner {
            display: flex;
            gap: 1rem;
        }
    
        header {
            margin: 0;
            padding: 0;
            padding-bottom: .25rem;
            color: $grey-graphite;
            font-weight: 500;
    
            &::after {
                height: .25rem;
            }
    
            &.selected {
                font-weight: 700;
                color: $cyan;
                background-color: transparent !important;
            }
        }
    }
}