// TAP TAP STYLE : Replace D&D on responsive touch
.tap-tap {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px 20px 0 0;
  background-color: $primary;
  color: white;
  padding: 25px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 40vh;
  margin: 0 !important;
  border: none;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);

  &__item {
    cursor: pointer;
    display: inline-block;
    background-color: white;
    border: none;
    padding: 8px 12px;
    margin: 10px;
    font-size: .875rem;
    color: $grey-black;
    border: 1px solid $grey-grey;

    &:hover,
    &:active {
      background-color: $orange;
      color: white;
      border: none;
    }
  }

  &__target {
    border-color: $orange;
  }

  &__explanation {
    font-size: 13px;
    font-style: italic;
  }
}
