.topbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: $tablette) {
        > div:nth-of-type(1) {
            flex-basis: 70%;
            display: inline-flex;
            gap: 12px;
        }
        > div:nth-of-type(2) {
            flex-basis: 75%;
        }
    }
}