.tabs-container{
  height: 40px;
  border-bottom: #ddd 1px solid;
  padding: 0;
  margin-bottom: 10px;
  .menu{
    background: white;
    margin: 0;
    height: 34px;
    max-height: 40px;
    padding: 5px 15px 0 15px;
    border: #ccc 0.5px solid;
    border-radius: 15px 15px 0% 0%;
    line-height: 30px;
    z-index: 0;
    position: relative;
    &.selected{
      cursor: context-menu;
      background: #4bafd5 !important;
      color: white;
      margin-left: -5px;
      margin-right: -5px;
      z-index: 2 !important;
    }
  }
}

.tr-warning{
  background: #ffe7cc;
}
.warning-icon{
  @include fonticon();
  &:before {
    content: '\e903';
  }
}

.valid-icon{
  @include fonticon();
  &:before {
    content: '\e871';
  }
}
.tr-valid{
  background: #c7f0c7;
}
.tr-error{
  background-color: #ffa6a6;
  .content:before {
    content: '\e903';
  }
}
.one-small{
  width: 4%;
}
.two-small{
  width: 8%;
}
.three-small{
  width: 12%;
}
.four-small{
  width: 16%;
}
.five-small{
  width: 20%;
}
.six-small{
  width: 24%;
}
.seven-small{
 width: 28%;
}
.eight-small{
  width: 32%;
}
.nine-small{
  width:  36%;
}
.ten-small{
  width:  40%;
}
.eleven-small{
  width: 44%;
}
.twelve-small{
 width:  48%;
}
.thirteen-small{
  width:  52%;
}
.fourteen-small{
  width: 56%;
}
.fifteen-small{
  width: 60%;
}
.sixteen-small{
  width: 64%;
}
.seventeen-small{
  width: 68%;
}
.eighteen-small{
  width: 72%;
}
.nineteen-small{
  width: 76%;
}
.twenty-small{
  width: 80%;
}
.twenty-one-small{
  width: 84%;
}
.twenty-two-small{
  width: 88%;
}
.twenty-three-small{
  width: 92%;
}
.twenty-four-small{
  width: 96%;
}
.twenty-five-small{
  width: 100%;
}
