body.edt, .sniplet.edt {

  input[type="radio"], .contentTab {
    display: inline-block;
  }

  @import './components/index';
  @import './generics/index';

  .schedule .days .day.single {
    width: 100%
  }

  div.date {
    &-loading {
      padding: 0 0 300px 0;
    }
  }

  div.selecting-timeslot {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
    }
  }

  #group-list-teacher {
    display: contents;
  }

  .selected-timeslot {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border: 1px $green dashed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 400;
      width: 100%;
      height: 100%;
    }
  }

  .border-left-right-selected {
    border-left: 1px $orange solid !important;
    border-right: 1px $orange solid !important;
  }

  .border-top-selected {
    border-top: 1px $orange solid !important;
  }

  .border-bottom-selected {
    border-bottom: 1px $orange solid !important;
  }

  .sm-margin-right {
    margin-right: 10px !important;
  }

  .tooltip-cours {
    padding: 11px;
    text-align: center;

    .header {
      color: white;
      border-radius: 9px;
      padding: 1px 6px;
    }
  }

  .cyan {
    background: $cyan;
    color: $white;
  }

  .green {
    background: $green !important;
    color: $white !important;
  }

  .orange {
    background: $orange !important;
    color: $white !important;
  }

  .pink {
    background: $pink !important;
    color: $white !important;
  }

  .yellow {
    background: $yellow !important;
    color: $white !important;
  }

  .purple {
    background: $purple !important;
    color: $white !important;
  }

  .grey {
    background: $dark-grey !important;
    color: $white !important;
  }

  span.tick:before {
    height: 20px !important;
    width: 20px;
    margin-top: 0px !important;
  }

  div.illustration {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
    padding-top: 20px;
  }

  div.time-barre {
    width: 400px;
    height: 4px;
    border: #aaa 1px solid;
    border-radius: 15px;
    background: #ddd;
    margin: 45px auto;

    .startCourse {
      position: absolute;
      top: -10px;
      background: black;
      border: black 0.5px solid;
      width: 2px;
      height: 20px;

      p {
        margin-left: -40px;
      }
    }

    .startEdition {
      position: absolute;
      background: $green;
      width: 300px;
      height: 3px;
      margin-left: 100px;

      &:before {
        content: "";
        border: black 1px solid;
        background: black;
        position: fixed;
        margin-top: -12px;
        width: 1px;
        height: 20px;
      }

      p {
        margin-left: -40px;
        margin-top: -32px;
      }
    }

    div p {
      color: black;
      position: fixed;
      display: block;
      margin-top: -22px;
    }

    .middle {
      position: absolute;
      background: $green;
      width: 20px;
      height: 3px;
      border-right: 1px black solid;
      margin-left: 200px;
      border-left: 1px black solid;

      p {
        margin-left: -30px;
      }
    }

    .end {
      position: absolute;
      top: -10px;
      background: black;
      border: black 0.5px solid;
      width: 2px;
      height: 20px;
      margin-left: 396px;

      p {
        margin-left: -40px;
      }

    }
  }

  .width-7 {
    width: 7em;
  }

  .format-select {
    min-width: 50px;
    height: 35px;
    font-size: 14.4px;
    padding: 0px 10px;
    text-align: left;
    width: 100%;
    max-width: 400px;
  }

  .datepicker {
    display: none;
  }

}

.edt-settings {
  table {
    th {
      i::before {
        font-size: 10px !important;
        margin-left: 5px;
        position: absolute;
      }
    }
  }

  .report-lightbox lightbox .content {
    max-width: 100%;
    width: fit-content;
  }
}

.times-slot {
  .float-left {
    float: left;
  }

  .margin-md {
    margin: 10px;
  }

  .margin-bottom-lg {
    margin-bottom: 20px;
  }
}

.month-day .n-more {
  display: none;
}

.margin-left-2 {
  margin-left: 2px;
}

.border-radius-5 {
  border-radius: 5px;
}

.display-flex {
  display: flex
}

.space-between {
  justify-content: space-between;
}

.margin-select-child {
  margin-top: 15px;
  margin-left: 35px;
}

.remove-border-select-child {
  border: none !important;
}
