// Edit-form

.main-button button {
  @media screen and (max-width: $formulaire-screen-mobile) {
    padding: 8px 8px 8px;
  }

  margin-top: 10px;
}

.header {
  &-fixed {
    position: sticky;
    background: linear-gradient(to bottom right, $formulaire-grey-lighter, $formulaire-grey-very-light) fixed;
    z-index: 3;
    top: 64px;

    @media screen and (max-width: $formulaire-screen-tablet) {
      top: 49px;
    }
  }

  &-title {
    margin-top: 10px;
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;


  .question-item .domino:not(.disabled) > .grab,
  .section-top:not(.disabled) > .grab {
    cursor: grab;
  }

  .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .question-item, .section-item {
      margin: auto;
      cursor: default;

      .domino, .question-item .domino {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        background: $formulaire-white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

        &.questionError, &.sectionError {
          border-left: solid 3px red;
        }

        &:not(.disabled) question-title h4, .section-top:not(.disabled) h4 {
          margin-top: 0;
        }

        .question-top, .section-top {
          display: flex;
          justify-content: center;

          .dots {
            display: flex;
            flex-direction: column;
            line-height: 2px;
            padding-top: 1%;

            @media screen and (max-width: $formulaire-screen-mobile) {
              margin-top: 10px;
            }
          }
        }

        &.disabled .question-main {
          padding: 2% 3% 2% 3%;
        }

        .question-main {
          display: flex;
          flex-direction: column;
          padding: 0 3% 2% 3%;

          .question-title {
            display: flex;
            justify-content: space-between;

            &.onedition {
              margin-top: 7px;
            }

            .flex-spaced {
              flex-wrap: wrap-reverse;
            }

            .empty {
              font-weight: normal;
              font-style: italic;
              color: $formulaire-grey;
            }
          }

          .question-type {
            question-type-date, question-type-time, question-type-file {
              font-size: 12px;
            }

            h4, .add-choice {
              font-size: 16px;
            }

            .choice {
              display: flex;
              align-items: center;

              .form-image {
                position: relative;
                margin: 15px 10px 15px 10px;
                i.i-close {
                  position: absolute;
                  top: -20px;
                  left: -20px;
                  margin: auto 1%;
                }
                &-upload {
                  display: flex;
                  width: 25%;
                  margin: 10px;
                }
              }

              select {
                margin-left: 6%;
              }

              .width95 {
                @media screen and (min-width: $formulaire-screen-tablet) {
                  width: 95%;
                }

                &-always {
                  width: 95%;
                }
              }

            }

            textarea {
              width: 100%;
              height: 60px;
              resize: none;
              background: none;
            }

            .add-choice {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            question-type-singleanswer, question-type-multipleanswer {

              /* Ajuster la taille de <image-select> */
              .image-select {
                width: 100px;
                height: 100px;
              }

              /* Ajuster la taille de l'image dans la directive <image-select> */
              .image-select .initialFloat.cell img {
                width: 100px;
                height: 100px;
              }

              /* Ajuster la taille de l'image affichée dans la balise <img> */
              img {
                width: 100px;
                height: 100px;
                object-fit: cover;
              }

              .image-container {
                position: relative;
                width: 125px;
              }

              .image-container .i-close {
                position: absolute;
                top: 0;
                right: 0;
              }
            }
          }

          .question-bottom, .section-bottom {
            display: flex;
            justify-content: flex-end;
            margin-top: 1%;

            .mandatory, .conditional {
              margin-right: 2%;
            }
          }
        }
      }
    }

    // This one is for DragAndDrop ghost preview
    .childSection.sortable-ghost {
      width: 75% !important;
    }

    .section-item {
      margin: auto;
      align-items: center;

      .domino {
        background: linear-gradient(to bottom right, #f0f2f4, #e9ebef) fixed;
        box-shadow: none;
      }

      .section-top {
        flex-direction: column;
        background-color: $formulaire-blue;

        &-dots {
          display: flex;
          justify-content: center;

          .dots {
            align-self: center;
          }
        }

        &-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 3%;

          .title i {
            margin-left: 5%;
          }

          .icons-section{
            margin-left: 2%;
            display: flex;
          }
        }

        i:not(.disabled)::before, h4, input, input::placeholder {
          color: white !important;
        }
      }

      .nofocusable {
        border: 2px solid rgba(0, 0, 0, 0.1);

        .description {
          padding: 1% 3%;

          .nodescription {
            font-size: 14px;
            font-style: italic;
          }
        }

        .questions {
          display: flex;
          flex-direction: column;
          padding: 0 5%;
          min-height: 50px;

          // This one is for DragAndDrop ghost preview
          .sortable-ghost {
            width: 100% !important;

            .question-item {
              width: 100% !important;
            }
          }
        }

        .bottom-buttons {
          display: flex;
          flex-direction: row;
          padding: 8px 16px;

          .addQuestion {
            text-align: right;
            align-self: center;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .flexend {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.drag {
  ul {
    list-style: none;
    height: auto;
    padding: 0;

    // This one is for DragAndDrop ghost preview in pop-up
    ul {
      .sortable-ghost {
        margin-left: 5%;
      }
    }

    .row-shadow-effect {
      display: flex;
      background-color: rgba(0, 0, 0, 0.01);
      border-radius: 5px;
      padding: 10px;
      box-shadow: -2px 5px 5px #bfbfbf7d;
      z-index: 0;
      cursor: grab;
      margin: 1%;
      width: auto;

      &.sectionChild {
        margin-left: 5%;
      }
    }

    .section-orga .row-shadow-effect {
      background-color: $formulaire-blue;
      color: white;

      .top .dots i::before {
        color: white !important;
      }
    }

    .top {
      width: 6%;
      display: flex;
      @media screen and (max-width: $formulaire-screen-mobile) {
        width: 15%;
      }

      .dots {
        display: flex;
        flex-direction: column;
        line-height: 6px;
        transform: rotate(90deg);
      }
    }

    .main {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        width: 86%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}


.hidden {
  visibility: hidden;
}

.container-arrow {
  display: flex;
  justify-content: space-around;
}

.preview-recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  padding: 2% 3% 2% 3%;
  background: $formulaire-white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}