@import "./dominos";
@import "./edit-form";
@import "./folder";
@import "./icon";
@import "./loader";
@import "./new-element";
@import "./progress-bar";
@import "./respond-question";
@import "./result-form";