// Question-new

.new-element {
  .subtitle {
    font-size: 20px;
  }

  .section {
    text-align: center;
    margin: 4% 5%;
    padding: 2%;
    border: 1px solid transparent;
    box-shadow: 2px 2px 6px 2px darkgrey;

    .subtitle {
      color: #4bafd5;
      margin-bottom: 2%;
    }
  }

  .question {
    text-align: center;

    .dominos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 5%;
      margin: 2% 10% 7%;

      @media screen and (max-width: $formulaire-screen-mobile) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 5%;
        overflow-y: scroll;
      }

      .item {
        width: 110px;
        height: 110px;
        margin: auto;

        .domino {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .data-text {
            text-align: center;
            font-size: 14px;
            padding: 0 10px;

            h5 { margin: 0; }
          }

          .picture {
            padding: 10px;

            img { width: 40%; }
          }
        }
      }
    }
  }
}