// Respond-question

.respond-question {
  display: flex;
  flex-direction: column;
  align-items: center;

  .question {
    padding: 2% 3% 2% 3%;
    background: $formulaire-white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;

    &rgpd {
      margin-top: 2%;
    }

    &-main {
      display: flex;
      flex-direction: column;
      font-size: 12px;

      textarea {
        width: 100%;
        height: 60px;
        resize: none;
        background: none;
      }

      .import-files .default {
        @media screen and (max-width: $formulaire-screen-mobile) {
          position: inherit;
          height: inherit;
        }
      }
    }

    &-edit {
      text-align: end;
      margin-top: 1%;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 3% 0;

    &.alone {
      justify-content: end !important;
    }
  }

  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-top: 15px;
    }

    input[type="text"] {
      margin-top: 10px;
    }

    .choice-image {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
}

.respond-question .section, .result-element .section {
  &-top {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;

    .title {
      background-color: $formulaire-blue;
      padding: 1% 3%;

      h4 {
        color: white;
        margin: 0;
      }
    }

    .description {
      padding: 2% 3% 2% 3%;
      background: $formulaire-white;
    }
  }

  &-main {

  }
}

.matrix-table {
  margin-top: 3%;
  table-layout: fixed;

  thead tr {
    background: none;
    color: inherit;
    border-bottom: 1px solid $accent;
  }

  thead th, tbody tr {
    text-align: center;
  }

  th:first-child, td:first-child {
    border-right: 1px solid $accent;
  }
}