

@media screen and (max-width: $fat-mobile){

	body {

		.notification {
			.content {
				margin: 0;
			}
		}
		.auth .panel {
			@include border-radius(0);
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		  	margin: 0;

			label, input[type=text], input[type=password], input[type=tel], input[type=email] {
				clear: both;
				float: left !important;
			}
			input[type=submit], a {
				clear: both;
			}
			p {
				clear: both;
			}
			input-password{
				input[type=password]{
					width: 88%;
				}
				button{
					float: left;
				}
			}
		}

		.tooltip{
			display: none !important;
		}

		//specific share table
		.share .responsive-table{
			table{
				thead{
					display: none;
				}
				tr{
					position: relative;
					margin: 20px;
					box-shadow: 0px 1px 1px $grayLight;
					border-top: 1px solid $grayLighter;
				}
				td{
					width: inherit;
					padding: 10px 20px;
					.drop-line{
						display: none;
					}

				}
				td:first-child{
					max-width: none;
					box-sizing: border-box;
					font-size: 18px;
					padding: 20px;
					font-weight: bold;
					text-transform: none;
					&:before{
						display: none;
					}
				}
				td:last-child{
					display: none;
				}
				//datalabel
				td:before{
					text-transform: none;
					padding-bottom: 15px;
				}
				tr td.drop-line{
					position: absolute;
					width: 30px;
					height: 30px;
					padding: 0;
					border-radius: 50%;
					line-height: 30px;
					top: -10px;
					right: -10px;
					cursor: pointer;
					background-color: $grayLighter;
					box-shadow: 0px 0px 1px $grayLight;
					display: block;
					@include run-transition(all);

					&:before{
						color: cadetblue;
					}
				}
				tr td.drop-line:hover{
					background: cadetblue;
					&:before{
						color: $white;
					}
				}
			}
		}


  }

}
