@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.choose-class {
    .step-hint {
        color: $grey-black;
        line-height: 24px;
    }

    i.left-open:before {
        font-size: 18px !important;
    }
    i.check {
        @include fonticon;
        &::before {
            content: "\e871";
            font-size: 18px !important;
        }
    }

    .class-card {
        border-radius: 4px;
        border: 1px solid $neutral-grey;
        padding: 12px 16px;
        margin: 6px 8px;
        @include run-transition(border-color);

        &:hover {
            border-color: $primary;
        }

        &.selected {
            border: 2px solid $primary;
            padding: 11px 15px;
            color: $primary;
            font-weight: bold;
        }
    }
}
