.badge-given{
  &-filter{
    display: flex;
    align-items: end;
    margin-top: 10px;

    @include mobile{
      margin-left: 8px;
    }

    .periode-picker-container {
      margin-right: 10px;
    }
  }
  &-search{
    margin-top: revert;
  }
}