.minibadge-container {
  h2 {
    margin: 10px 0 0;
    font-weight: bold;
    color: $minibadge-grey-dark;

    @include mobile {
      @include marginX(10px);
    }
  }

  h3 {
    margin: 0;
    color: $minibadge-grey-dark;
    font-size: 16px;
    font-weight: normal;

    @include mobile {
      @include marginX(10px);
    }
  }

  i.settings:hover {
    color: $minibadge-orange;
  }
}

