.minibadge-statistics {
  line-height: 30px;

  .minibadge-container-component {
    h3 > .minibadge-title {
      font-weight: bold;
    }

    &-body > container-body, .minibadge-statistics-cards, .minibadge-statistics-badges {
      gap: 50px
    }
  }

  &-card {
    display: flex;

    h3 > .minibadge-title {
      font-weight: bold;
      font-size: 25px;
    }
  }

  &-count-allowed {
    flex: 4;
    display: flex;

    .minibadge-container-card {
      flex: 1;
      justify-content: center;
      padding: 30px;

      .minibadge-title {
        font-size: 30px;

        .check-decagram {
          color: $minibadge-orange;
        }
      }

      .minibadge-container-card-body {
        display: none;
      }
    }

  }

  &-top-structures {
    flex: 5;
  }

  &-top-assigning, &-top-receiving {
    flex: 1;
  }


  &-top-structures, &-top-assigning, &-top-receiving {
    .minibadge-card {
      background: $minibadge-white;
      border: none;
      color: $minibadge-orange;
      height: revert;

      &-body {
        justify-content: center;

        h3 {
          color: $minibadge-orange;
          font-size: 30px;
          font-weight: bold;
        }
      }
    }

    &-list {
      flex: 1;
    }
  }

  &-top-most-allowed {
    flex: 5;

    .check-circle {
      color: $minibadge-green;
    }
  }

  &-top-most-refused {
    flex: 4;

    .minibadge-card {
      width: 100%;
      background: $minibadge-white;
      border: none;

      container-body {
        font-weight: bold;
      }
    }

    .close-circle {
      color: $minibadge-red;
    }
  }

  .minibadge-container-badges {
    .minibadge-card-title {
      font-weight: bold;
    }

    .minibadge-container-card > .minibadge-container-card-body {
      margin-top: 30px;

      .minibadge-most-assigned {
        padding: 10px;
        align-items: center;

        &-detail {
          flex: 3;
        }

        &-others {
          flex: 3;
        }

        minibadge-card-type {
          flex: 2;
        }

        .minibadge-list-item-display, .minibadge-list-item-distinction {
          flex: 1;
          overflow: auto;
        }
      }
    }

    .minibadge-most-assigned-detail {
      flex: 2;
    }

    .minibadge-most-assigned-others {
      flex: 3;
    }

    minibadge-card-type {
      .minibadge-card {
        height: 176px;
        width: 100%;
      }
    }

  }

  .minibadge-statistics-most-allowed {
    i.trophy {
      color: $minibadge-orange;
    }
  }

}

minibadge-card-type-statistic {
  padding: 10px;

  .minibadge-card {
    height: auto;

    .minibadge-card-body {
      align-self: stretch;

      container-body {
        align-self: stretch;
      }

      .minibadge-card-picture {
        flex: revert;
        @include marginX(10px);
        height: 100%;
      }
    }
  }
}


