.sniplet-create, .doc-list {
  .primary-button {
    width: 100%;
  }

  .document-type-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .document-type {
      label {
        height: 100px;
        line-height: 80px;
        text-align: center;
        cursor: pointer;
        border-radius: 3px;
        border: solid 2px rgba(0, 0, 0, 0.25);
        /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        display: block;

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .text {
          font-size: 14px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.35);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          &::before {
            @include fonticon();
            font-size: 35px;
            display: block;
            height: 30px;
            margin-bottom: 5px;
            font-weight: normal !important;
          }

          &::after {
            position: absolute;
            top: 10px;
            right: 15px;
            width: 18px;
            height: 18px;
            background-color: $white;
            content: " ";
            line-height: 18px;
            border-radius: 50%;
            border: solid 1px rgba(0, 0, 0, 0.35);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          }

          &.docx, &.odt {
            &::before {
              content: '\e880'
            }
          }

          &.pptx, &.odp {
            &::before {
              content: '\e85f'
            }
          }

          &.xlsx, &.ods {
            &::before {
              content: '\e881'
            }
          }

          &.odg {
            &::before {
              content: '\e882'
            }
          }
        }
      }

      &.selected {

        label {
          border: solid 2px $primary-dark;

          .text {
            color: $primary-dark;

            &::after {
              @include fonticon();
              content: "\e871";
              font-size: 8px;
              background-color: $primary-light;
              border: solid 1px $primary-light;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $small-tablette) {
    .document-type-list {
      .document-type {
        label {
          line-height: 100px;

          .text {
            font-size: 10px;

            &::before {
              font-size: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}