.parameter{
  &-table{
    position: fixed;
    display: block;
    right: -250px;
    top: 146px;
    width: 290px;
    &.show{
      right: 0px;
      transition: right 250ms ease;
    }
    &.hide{
      right: -250px;
      transition: right 250ms ease;
    }
    &-body{
      &-th{
        &-left{
          text-align: left;
          padding-left: 2em;
        }
      }
    }
    & .button-puce{
      width: 40px;
      height: 40px;
      background: #FF8500;
      border-radius: 15px 0 0 15px;
      i.param{
        &:before{
          content: '\e854';
          font-size: 25px;
          color: white;
          position: absolute;
          margin-left: 10px;
          margin-top: 6.5px;
        }
      }
    }
  }



  &-table::-webkit-scrollbar{
    width: 9px;
    background-color: #F5F5F5;
  }
  &-table::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaa;
  }
  article{
    display: block;
    width: 250px ;
    overflow-y: auto;
    height: 60vh;
  }
}

