@media (min-width: 960px) {
  .zero-lg {
    display: none !important;
  }
  .one-lg {
    width: 8.33333%;
  }
  .two-lg {
    width: 16.66667%;
  }
  .three-lg {
    width: 25%;
  }
  .four-lg {
    width: 33.33333%;
  }
  .five-lg {
    width: 41.66667%;
  }
  .six-lg {
    width: 50%;
  }
  .seven-lg {
    width: 58.33333%;
  }
  .eight-lg {
    width: 66.66667%;
  }
  .nine-lg {
    width: 75%;
  }
  .ten-lg {
    width: 83.33333%;
  }
  .eleven-lg {
    width: 91.66667%;
  }
  .twelve-lg {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .zero-md {
    display: none !important;
  }
  .one-md {
    width: 8.33333%;
  }
  .two-md {
    width: 16.66667%;
  }
  .three-md {
    width: 25%;
  }
  .four-md {
    width: 33.33333%;
  }
  .five-md {
    width: 41.66667%;
  }
  .six-md {
    width: 50%;
  }
  .seven-md {
    width: 58.33333%;
  }
  .eight-md {
    width: 66.66667%;
  }
  .nine-md {
    width: 75%;
  }
  .ten-md {
    width: 83.33333%;
  }
  .eleven-md {
    width: 91.66667%;
  }
  .twelve-md {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .zero-mobile {
    display: none !important;
  }
  .one-mobile {
    width: 8.33333%;
  }
  .two-mobile {
    width: 16.66667%;
  }
  .three-mobile {
    width: 25%;
  }
  .four-mobile {
    width: 33.33333%;
  }
  .five-mobile {
    width: 41.66667%;
  }
  .six-mobile {
    width: 50%;
  }
  .seven-mobile {
    width: 58.33333%;
  }
  .eight-mobile {
    width: 66.66667%;
  }
  .nine-mobile {
    width: 75%;
  }
  .ten-mobile {
    width: 83.33333%;
  }
  .eleven-mobile {
    width: 91.66667%;
  }
  .previewtwelve-mobile {
    width: 100%;
  }
}

