// Dominos

.dominos {
  justify-content: flex-start;

  .item {
    width: calc(95%/3);
    @media (max-width: 1500px) {
      width: calc(92%/3);
    }
    @media (max-width: 950px) {
      width: calc(89%/3);
      min-width: 300px;
    }
    @media (max-width: 630px) {
      width: -webkit-fill-available;
      min-width: 300px;
    }
    background: white;
    height: 130px;
    &.response {
      width: calc(90%/4);
    }

    &.selected { background: lightblue }

    .domino {
      display: flex;
      flex-direction: row;
      height: 100%;

      .picture {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        &.empty { background: $primary; }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .data {
        display: flex;
        flex-direction: column;
        height: 100%;

        &-text {
          padding: 10px;

          .title {
            font-size: 16px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .owner {
            font-size: 15px;
            color: $primary;
          }

          .date {
            font-size: 13px;
            font-style: italic;
            color: gray;
          }
        }

        &-bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 12px;
          padding-left: 10px;
          padding-right: 10px;

          .icons {
            display: flex;
            height: 100%;

            i .selected { color: darkgray; }
          }
        }

        &-status {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          font-size: 14px;
          font-weight: bold;
          padding: 10px;
        }
      }
    }
  }
}

