input[type="text"] {
  border: solid 2px $primary;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-bottom: 0;
  box-sizing: border-box;
  height: 45px;
}

.share.temp input[type=text] {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px solid #d6d9e0;
  height: 25px;
}

input[type="text"].search_nav {
  color: #5b6472;
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #d6d9e0;
}