i {
  &.calendar-month::before{
    font-family: 'minibadge-icons';
    content: "\F0E17";
  }
  &.calendar-range::before {
    font-family: 'minibadge-icons';
    content: "\F0679";
  }
  &.trash::before{
    font-family: "minibadge-icons";
    content: "\F0A79";
  }
  &.sort-arrow-up::before{
    font-family: 'minibadge-icons';
    content: "\F04BD";

  }
  &.sort-arrow-down::before{
    font-family: 'minibadge-icons';
    content: "\F04BC";
  }

  &.user-circle::before {
    font-family: 'minibadge-icons';
    content: "\F0009";
  }

  &.close::before {
    font-family: 'minibadge-icons';
    content: "\F0156";
  }

  &.chevron-left::before {
    font-family: 'minibadge-icons';
    content: "\F0141";
  }
  &.target::before{
    font-family: "minibadge-icons";
    content: "\F08C9";
  }
  &.human-arrow::before{
    font-family: "minibadge-icons";
    content: "\F0B53";
  }
  &.star::before {
    font-family: 'minibadge-icons';
    content: "\F04CE";
  }

  &.icon-info::before {
    font-family: 'minibadge-icons';
    content: "\F02FC";
  }

  &.icon-info-circle::before {
    font-family: 'minibadge-icons';
    content: "\F02FD";
  }

  &.earth::before {
    font-family: 'minibadge-icons';
    content: "\F01E7";
  }

  &.dots-vertical::before {
    font-family: 'minibadge-icons';
    content: "\F01D9";
  }

  &.refused::before {
    font-family: 'minibadge-icons';
    content: "\F0376";
  }

  &.settings::before {
    font-family: 'minibadge-icons';
    content: "\F0493";
  }

  &.close-circle::before {
    font-family: 'minibadge-icons';
    content: "\F0159";
  }

  &.check-circle::before {
    font-family: 'minibadge-icons';
    content: "\F05E0";
  }

  &.check-decagram::before {
    font-family: 'minibadge-icons';
    content: "\F0791";
  }

  &.chevron::before {
    font-family: 'minibadge-icons';
    content: "\F0142";
  }

  &.trophy::before {
    font-family: 'minibadge-icons';
    content: "\F0538";
  }

  &.icon-badge::before {
    font-family: 'minibadge-icons';
    content: "\F0987";
  }
}
