.minibadge-user-list {
  flex: 1;
  height: auto;

  &-items {
    padding-inline-start: 20px;
    column-count: 2;
    @include mobile {
      column-count: 1;
    }
    @include tablet {
      column-count: 1;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    overflow: hidden;

    &-precision {
      font-style: italic;
    }

  }

  .minibadge-paging {
    justify-content: flex-end;
    margin-top: auto;
  }
}

