@import "./edit-fill-text";
@import "./edit-subject";
@import "./fill-zone";
@import "./image-zone";
@import "./perform-edit-order";
@import "./perform-qcm";
@import "./text-zone";
@import "./view-qcm";
