fill-zone {
  display: inline-block;

  text-zone {
    input[type="text"] {
      width: auto!important;
    }
  }
}

edit-fill-text editor.edit fill-zone text-zone {
  background: transparent;
  box-shadow: none;
}