.filltext {

    .add-option {
        input[type="text"] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &>button {
            padding: 0;
            margin: 0;
            width: 46px;
            background: $flash-blue;
            box-shadow: none;
            border-radius: 0 8px 8px 0;

            &[disabled] {
                background-color: $grey-grey;
            }

            .icon-plus {
                fill: $white;
            }
        }

    }

    .options {
        padding: 0;
        margin: 0;
        background-color: transparent;

        ul {
            justify-content: flex-start;
        }
    }
}