image-zone {
  @media screen and (min-width: $wide-screen), print {
    min-width: 100px;
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: $wide-screen), print {
    min-width: 70px;
    width: 70px;
    height: 70px;
  }

  float: left;
  position: relative;
  float: left;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  margin: 8px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  z-index: 20;
  overflow: hidden;

  img {
    border-radius: 3px;
    pointer-events: none;
  }

  button.add-answer {
    box-shadow: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  &.error::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: $red;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  &.success::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: $green;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  i.close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 3;
  }

  .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    padding-left: 11px;
    background: rgba(0, 0, 0, 0.5);
    height: 35px;
    line-height: 35px;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;

    i {
      padding-right: 3px;
      margin-top: 1px;
    }

    &:hover {
      color: $orange;
    }
  }
}
