perform-qcm {
    .checkbox {
        margin-top: 6px;
        margin-right: 25px;
    }

    input[type="text"] {
        border: none;
        margin-bottom: 0;
        height: 30px;
        line-height: 30px;
    }
}