text-zone {
  cursor: pointer;
  position: relative;
  background: $grey-fog;
  border-radius: 4px;
  padding: 8px;
  color: $grey-black;
  display: inline-flex;
  gap: 4px;
  flex-direction: row-reverse;
  box-sizing: border-box;
  border: 1px solid $grey-cloudy;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  line-height: 20px;
  // pointer-events: none;
  // max-width: 150px;

  .text-zone-size {
    padding-right: 0.8rem;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 20px;
    max-width: 75px;
    position: relative;
    background: inherit;
    transition: all 250ms ease,
    max-width 0.15s 0.15s ease-out,
    max-height 0.15s 0s ease-in;
    font-size: 14px;
  }

  div.edit {
    display: inline-block;
    padding-right: .5em;
    background: inherit;
  }

  &.selected {
    background: $primary;
    color: $white;

    >svg[class*="icon"] {
      fill: $white;
    }
  }

  input[type="text"],
  select {
    font-size: 1em;
    border: 0 ;
    margin: 0;
    padding: 0 8px;
    width: 150px;
    height: unset;
    line-height: unset;
    background-color: transparent !important;
  }

  select {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.01226 6.87113C4.63572 6.32561 5.58336 6.38879 6.12889 7.01224L12 13.7221L17.8712 7.01224C18.4167 6.38879 19.3643 6.32561 19.9878 6.87113C20.6112 7.41666 20.6744 8.3643 20.1289 8.98776L13.1289 16.9878C12.8441 17.3133 12.4326 17.5 12 17.5C11.5675 17.5 11.156 17.3133 10.8712 16.9878L3.87116 8.98776C3.32563 8.3643 3.38881 7.41666 4.01226 6.87113Z' /></svg>");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right 8px center;
  }

  input[type="text"].filled,
  select.filled {
    background-color: #fff !important;
  }

  input[type="text"] {
    box-sizing: border-box;
  }

  input[type="text"]:focus {
    border-bottom: 0;
    box-shadow: none;
  }

  [drop-item] {
    display: flex;
    align-items: center;
    min-width: 150px;
    min-height: 40px;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    border-radius: 4px;
    transition: background 250ms ease;

    .text-zone-size {
      max-width: 125px;
      pointer-events: none;
    }

    &.no-responsive.droppable,
    &.no-desktop.droppable {
      margin: -8px;
      padding: 8px;
    }
  }

  &.error {
    background: $red;
    border-color: $red;
    color: #e8e8e8;
    border-left: 0;
  }

  &.success {
    background: $green;
    border-color: $green;
    color: #fff;
    border-left: 0;
    font-size: 16px;
  }

  >svg {
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    &:hover {
      fill: $accent;
    }
  }

  .filled {
    background-color: $white;
    border: 0;
  }
}

.perform-text-zone {
  
  text-zone {
    max-width: inherit;
    border: 0;
    background: rgba(255,255,255,.4);
  }

  input[type="text"],
  select {
    margin: -8px !important;
    padding: 8px !important;
    border: 0 !important;
    height: auto !important;
  }
}

.view-text-zone text-zone {
  min-width: 150px;
  min-height: 40px;
  justify-content: flex-end;
}

.edit-text-zone {
  padding: 0 0.5rem;
  // position: absolute;
  border: 0 !important;
  height: 100% !important;
  // inset: 0;
  // opacity: 0;
}