text-zone {
  position: relative;
  background: $grey-fog;
  border-radius: 4px;
  padding: 8px;
  color: $grey-black;
  display: inline-flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  border: 1px solid $grey-cloudy;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  line-height: 20px;
  // max-width: 150px;

  .text-zone-size {
    padding-right: 0.8rem;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 20px;
    max-width: 75px;
    position: relative;
    background: inherit;
    transition: all 250ms ease,
    max-width 0.15s 0.15s ease-out,
    max-height 0.15s 0s ease-in;
    font-size: 14px;
  }

  div.edit {
    display: inline-block;
    padding-right: .5em;
    background: inherit;
  }

  &.selected {
    background: $flash-blue;
    color: $white;

    >svg[class*="icon"] {
      fill: $white;
    }
  }

  input[type="text"],
  select {
    font-size: 1em;
    border: 0 ;
    margin: 0;
    padding: 0 8px;
    width: 150px;
    height: unset;
    line-height: unset;
    background-color: transparent !important;
  }

  input[type="text"].filled,
  select.filled {
    background-color: #fff !important;
  }

  input[type="text"] {
    box-sizing: border-box;
  }

  input[type="text"]:focus {
    border-bottom: 1px solid $orange;
  }

  [drop-item] {
    display: flex;
    align-items: center;
    min-width: 150px;
    min-height: 40px;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    border-radius: 4px;
    transition: background 250ms ease;

    .text-zone-size {
      max-width: 125px;
    }

    &.no-responsive.droppable,
    &.no-desktop.droppable {
      margin: -8px;
      padding: 8px;
    }
  }

  &.error {
    background: $red;
    border-color: $red;
    color: #e8e8e8;
    border-left: 0;
  }

  &.success {
    background: $green;
    border-color: $green;
    color: #fff;
    border-left: 0;
    font-size: 16px;
  }

  >svg {
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    &:hover {
      fill: $accent;
    }
  }

  .filled {
    background-color: $white;
    border: 0;
  }
}

.perform-text-zone {
  
  text-zone {
    max-width: inherit;
    // padding: 0;
    border: 0;
    background: hsla(0, 100%, 100%, 40%);
  }

  input[type="text"],
  select {
    margin: -8px !important;
    padding: 8px !important;
    border: 0 !important;
    height: auto !important;
  }
}

.view-text-zone text-zone {
  min-width: 150px;
  min-height: 40px;
  justify-content: flex-end;
}