.check-boxes {
  height: 80px;
  padding: 0;
  margin: 0;
  clear: both;

  li {
    list-style-type: none;
    list-style-position: outside;
    padding-right: 10px;
    float: left;
  }

  input[type="checkbox"]:not(:checked),
  input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    color: black;
    background-color: lightgrey;
    @media screen and (min-width: 800px) and (max-width: 1000px) {
      padding: 5px 8px 5px 8px;
    }
    @media screen and (max-width: 500px) {
      padding: 1px 8px 1px 8px;
    }
  }

  input[type="checkbox"]:checked + label {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    color: white;
    background-color: darkorange;
  }

  @media screen and (max-width: 500px) {
    height: 50px;
  }
}