@font-face {
  font-family: 'minibadge-icons';
  src: url('/minibadge/public/font/material-design/fonts/materialdesignicons-webfont.eot');
  src: url('/minibadge/public/font/material-design/fonts/materialdesignicons-webfont.eot') format('embedded-opentype'),
  url('/minibadge/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff2'),
  url('/minibadge/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff'),
  url('/minibadge/public/font/material-design/fonts/materialdesignicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.minibadge, .sniplet.minibadge {
  @import "mixins";

  @include mobile {
    font-size: 12px;
  }

  .mobile-disabled {
    @include mobile {
      display: none;
    }
  }

  .desktop-disabled {
    @include desktop {
      display: none;
    }
  }

  portal > div.main > section.main {
    @include mobile {
      padding: 0;
      top: 50px;
    }
  }

  .minibadge-button-title-settings {
    margin-left: auto;
    background: $minibadge-blue-dark;
    right: 0;
    @include mobile {
      margin-right: 10px;
    }
  }

  .minibadge-main {
    &-title {
      margin: 0;
      font-family: $minibadge-font-secondary;
      color: $minibadge-red;

      img {
        width: 34px;
      }
    }
  }


  @import "containers/index";
  @import "components/index";
  @import "generics/index";


}


