.chip {
    padding: 6px .75rem;
    box-shadow: none;
    line-height: 1rem !important;

    span {
        font-size: .8125rem;
        font-weight: 500;
    }
    
    &.selected {
        background: $flash-blue;

        i {
            &:hover {
                &:before {
                    color: $black !important;
                }
            }
        }
    }

    &.deletable {
        background: $white;

        span {
            color: $black;
        }

        i {
            &:before {
                color: $solid-grey !important;
                @include run-transition;
            }

            &:hover {
                &:before {
                    color: $red !important;
                }
            }
        }
    }
}