nav.floating-navigation,
nav.vertical {
    padding-right: 15px;
}

nav.mobile-navigation {
    padding-right: 0px !important;
    border-left: 0 !important;

    ul li.selected {
        background: rgba(0, 0, 0, 0.26);
        font-weight: bold;
    }
}

/* Floating nav selected */
.floating-navigation li.selected {
    background: $orange;
    box-shadow: none;

    & a {
        color: white;
    }
}