body.calendar {

  @import "mixins";
  @import 'components/index';

  .calendar.widget {

    span.last-events-widget {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
    }

    .widget-list {
      padding-right: 10px;
    }

    .calendar-detail-tooltip {
      padding: 0px !important;
    }
  }

  switch {
    .switch {
      .tick {
        &:before {
          height: 20px !important;
          margin-top: 0 !important;
        }
      }
    }
  }
}

calendar .week-switcher .date-picker-icon {
  margin-left: 0;
}