@font-face {
  font-family: 'calendar-material-icons';
  src: url('/calendar/public/font/material-design/fonts/materialdesignicons-webfont.eot');
  src: url('/calendar/public/font/material-design/fonts/materialdesignicons-webfont.eot') format('embedded-opentype'),
  url('/calendar/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff2'),
  url('/calendar/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff'),
  url('/calendar/public/font/material-design/fonts/materialdesignicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.calendar {
  @import "mixins";
  @import "components/index";

  .calendar.widget {
    span.last-events-widget {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
    }

    .widget-list {
      padding-right: 10px;
    }

    .calendar-detail-tooltip {
      padding: 0px !important;
    }
  }

  switch {
    .switch {
      .tick {
        &:before {
          height: 20px !important;
          margin-top: 0 !important;
        }
      }
    }
  }
}

calendar .week-switcher .date-picker-icon {
  margin-left: 0 !important;
}