/*Calendar module colors*/
$calendar-blue: #39a5ce;
$calendar-white: #ffffff;
$calendar-orange: #ff8500;
$calendar-black: #000000;
$calendar-grey: #8c939e;
$calendar-ode-grey: #3f454f;

/*Tooltip mixins*/

@mixin tooltipTemplate($width) {
  font-family: Roboto;
  visibility: hidden;
  width: $width;
  font-size: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.26);
  position: absolute;
  background-color: $calendar-white;
  color: $calendar-black;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
}

@mixin tooltipVisible() {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s;
}

@mixin tooltipBottomArrow() {
  content: " ";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $calendar-white;
}

@mixin tooltipTopArrow() {
  content: " ";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid $calendar-white;
}
