$formulaire-screen-mobile: 500px;
$formulaire-screen-tablet: 800px;
$formulaire-screen-laptop: 1200px;

$formulaire-white: white;
$formulaire-orange: #FF8500;
$formulaire-blue: #2a9bc7;
$formulaire-blue-light: #c1e3f0;
$formulaire-blue-transparent: rgba(75, 175, 213, 0.3);

$formulaire-grey-dark: #5b6472; // from body text color
$formulaire-grey: #b1b6bf; // from disabled button
$formulaire-grey-light: #c9ced5; // from medium-grey from moodle ?
$formulaire-grey-very-light: #e9ebef; // from cancel button

$formulaire-red: #b50000;
$formulaire-green: green;

@font-face {
  font-family: 'material-icons';
  src: url('/formulaire/public/font/material-design/fonts/materialdesignicons-webfont.eot');
  src: url('/formulaire/public/font/material-design/fonts/materialdesignicons-webfont.eot') format('embedded-opentype'),
  url('/formulaire/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff2'),
  url('/formulaire/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff'),
  url('/formulaire/public/font/material-design/fonts/materialdesignicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.formulaire section.toggle-buttons {

  button{
    @media screen and (max-width: $formulaire-screen-mobile) {
      min-height: unset;
    }
  }
}

body.formulaire section.main {
  @import "./components/index";

  .margin-vertical-1 {
    margin: 1% 0;
  }

  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2%;

    a { text-decoration: underline; }

    .buttons {
      display: flex;
      justify-content: center;
    }
  }

  .loader {
    text-align: center;
  }

  .img_mini {
    max-height: 300px;
    margin: 25px;
  }

  .main-button {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .date {
      font-size: 12px;
      height: fit-content;
      background: $formulaire-blue-transparent;
      margin-right: 10px;
      padding: 0 10px;
    }
  }

  button {
    &.cancel {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    &.blueButton {
      background-color: $formulaire-blue;
    }
  }

  .date-saved-form {
    background: $formulaire-blue-transparent;
  }


  .fab {
    width: 45px;
    height: 45px;
    background-color: #ff8500;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.26);
    cursor:pointer;
    font-size: 35px;
    line-height: 45px;
    color: white;
    text-align: center;

    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1;

    transition: all 0.1s ease-in-out;
  }

  .fab:hover {
    box-shadow: 0 6px 18px rgba(0,0,0,0.26);
    transition : all 0.3s cubic-bezier(.25, .8, .25, 1)
  }

  lightbox {
    h2 {
      font-size: 24px !important;
      margin-bottom: 20px !important;
    }
  }

  .action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    float: right;

    &.alone {
      grid-template-columns: 1fr !important;
    }

    button {
      margin: 5px;
    }
  }

  switch .switch input[type=checkbox]+.tick:before {
    transform: rotate(0deg);
    height: 20px;
    width: 20px;
    margin-top: 0;
  }


  // Forms-list

  .folder-info {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .table {
    table-layout: fixed;
    margin: 10px;
  }

  .toaster-right { float: right; }

  i.dropbtn {
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  nav.vertical[side-nav].slide {
    width: 160px;
    padding: 0px 10px;
    overflow: unset;
  }

  nav.vertical[side-nav] {
    background-color: #F0F0F0;
    border-radius: 2px;
    border-left: none;
    box-shadow: 0 6px 18px rgba(0,0,0,0.26);
  }

  .heightNavBar{
    height: 80px !important;
  }

  .sideNavMyForms {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
    transition: 0.5s;
    top: 52px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.26);
    border-radius: 3px;
  }

  .sideNavMyForms .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor:pointer;
  }

  .text-font{
    font-weight: bolder;
  }

  .titleSideNav{
    padding-left: 25px;
  }

  .tabs header {
    margin-right: 0;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width:$formulaire-screen-mobile){margin-right: 40px;}
  }

  label.chip.checkbox.selected {
    background-color: $accent;
  }

  .filter-forms {
    width: 97%;
    .drop-down-block, .drop-down-block .drop-down-label {
      margin-bottom: 0;
    }

    .checkbox {
      background-color: $formulaire-grey-light;
      margin-right: 0;

      @media screen and (max-width: $formulaire-screen-mobile) {
        width: auto;
        min-width: 40%;
        text-align: center;
        margin-left: 2%;
        padding: 0 10px;
      }
    }

    i.arrow {
      margin-top: 0;
    }

    i.arrow:before {
      font-size: 14px;
    }
  }

  .move {
    .infos {
      margin-bottom: 5%;
      font-size: 18px;

      &-items, &-target {
        display: flex;
        margin: 1% 0;
      }
    }

    .tree {
      &-description {
        font-size: 14px;
      }
    }
  }

  .folders-tree {
    .disabled-color {
      cursor: default;
    }
  }

  // Prop-form

  .prop-form {
    display: flex;
    justify-content: center;

    .item {
      width: 60%;
      @media screen and (max-width: $formulaire-screen-laptop) { width: 100%; }

      .domino {
        .picture {
          &:hover {
            cursor: pointer;
          }

          image-select {
            width: 100%;
          }
        }

        .data {
          padding: 10px 20px;

          &-text {
            .title {
              font-weight: bold;
              margin: 10px 0 5px 0;
            }

            .interval {
              font-size: 12px;
              @media screen and (max-width: $formulaire-screen-mobile) {
                margin-left: 5px;
              }

              .opening { margin-right: 10px; }

              input {
                text-align: center;
                @media screen and (max-width: $formulaire-screen-mobile) {
                  font-size: 10px;
                }
              }
            }

            .multiple, .editable, .anonymous, .notified {
              height: 24px;
            }

            .multiple, .editable, .anonymous, .notified, .collectData {
              font-size: 12px;
              display: flex;
              align-items: baseline;
              margin-bottom: 1%;

              .text {
                display: flex;
                flex-direction: column;
                margin-left: 5px;
              }
            }

            .collectData {
              &-inputs{
                margin: 2% 2% 2% 25px;

                .goal input {
                  margin: 0;
                  font-size: 12px;
                }
              }

              &-description {
                border: solid 1px $formulaire-grey;
                padding: 2%;
              }
            }
          }

          &-bottom {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            @media screen and (max-width: $formulaire-screen-mobile) {
              margin-top: 5%;
            }

            &.date {
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  // Forms-responses

  .responded {
    color: $formulaire-green;
  }

  .notResponded {
    color: $formulaire-red;
  }
}