.editRecurrentEvent {
  section.lightbox {
    .content {
      padding: 0;

      .lightbox-container {
        padding: 15px;
      }

      .close-lightbox {
        color: $calendar-white;
      }
    }

    section.head {
      background: $calendar-blue;
      padding: 1px 15px !important;
      border-radius: 5px 5px 0 0;

      h1, h2, h3, h4, h5, h6 {
        color: $calendar-white;
      }
    }

    section.body {
      padding: 8px 20px;
    }
  }
}
