.sidebar {
  &-title {
    background-color: $calendar-blue;

    &-calendar-display {
      text-transform: uppercase;
      font-weight: normal;
      color: $calendar-white;
      padding-left: 10px !important;
    }
  }

  &-calendar-choice-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      opacity: 0.2;
      flex: 1;
      color: $calendar-ode-grey;
      &.selected {
        opacity: 0.6;
      }
    }
  }

  &-calendar-list {
    overflow: visible !important;

    &:hover .tooltip-top {
      @include tooltipVisible();
    }

    .tooltip-top {
      @include tooltipTemplate(190px);
      bottom: 33px;
      margin-left: -47px;

      &:after {
        @include tooltipBottomArrow();
        top: 100%;
        left: 15%;
      }
    }
  }
}
