.sidebar {

  &-title {
    background-color: $calendar-blue;

    &-calendar-display {
      text-transform: uppercase;
      font-weight: normal;
      color: $calendar-white;
      padding-left: 10px !important;

      &-sync {
        transform: rotate(-45deg);
        opacity: 1 !important;
      }

      &-sync-in-progress {
        text-indent: unset !important;
        opacity: 1 !important;
      }

      &-center-text {
        text-align: center;
      }

    }
  }

  &-calendar-choice-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      opacity: 0.2;
      flex: 1;
      color:$calendar-ode-grey;
      &.selected {
        opacity: 0.6;
      }
    }
  }

  .show-list,
  .show-calendar{
    opacity: 0.6;
    &.selected {
      opacity: 1;
    }
  }

  &-calendar-list {
    overflow: visible !important;

    &:hover .tooltip-top {
      @include tooltipVisible();
    }

    .tooltip-top {
      @include tooltipTemplate(190px);
      bottom: 33px;
      margin-left: -47px;

      &:after {
        @include tooltipBottomArrow();
        top: 100%;
        left: 15%;
      }

      &-text {
        font-weight: initial !important;
      }
    }

  }

}






