.minetestCurrent {
  .custom-cancel {
    color: $minetest-orange;
    background: $minetest-grey;
    font-size: 14px;
    box-shadow: none;
  }

  .custom-cancel:hover {
    background: $minetest-orange;
    color: $minetest-white;
    font-size: 14px;
    box-shadow: none;
  }

  .external {
    padding: 8px 18px 10px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
  }
}