@font-face {
  font-family: 'material-icons';
  src: url('/minetest/public/font/material-design/fonts/materialdesignicons-webfont.eot');
  src: url('/minetest/public/font/material-design/fonts/materialdesignicons-webfont.eot') format('embedded-opentype'),
  url('/minetest/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff2'),
  url('/minetest/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff'),
  url('/minetest/public/font/material-design/fonts/materialdesignicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.minetest {
  @import "./components/index";
}

