.board-manage-lightbox {

  @include lightboxWidth(80%);

  &-head {

  }
  &-body {
    display: flex;
    &-image-select {
      &.small {
        width: 120px !important;
      }
      width: 240px;
      image-select {
        img {
          max-height: 170px;
          max-width: 170px;
          object-fit: contain;
        }
      }
      &-choose {
        font-size: 15px;
        color: $magneto-red;
      }
    }

    &-inputs {
      margin: 0 25px 25px !important;
      display: flex;
      flex-direction: column;

      textarea {
        resize: none;
      }

      &-options {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        h2 {
          color: $magneto-black;
        }
      }

      .board-layout-type {
        h2 {
          color: $magneto-black;
        }
      }
    }

    &-layout-container {
      display: flex;
      gap:30px;
    }
  }

  .display-icons {
    font-size: 56px !important;
    vertical-align: middle;
  }

}