.card-list-item {

  height: 250px;
  width: 230px;
  border-radius: 10px;
  padding: 5px 5px 0px 5px;
  border: solid $magneto-lighter-grey 1px;

  &.active {
    border: solid $magneto-light-blue 3px !important;
    background: $magneto-lighter-blue;
    border-radius: 13px;
    margin: -3px;

    &-image {
      background: $magneto-lighter-blue;
    }
  }

  &.reduced-format {
    height: 200px;
  }

  &.draggable {
    cursor: move;
  }

  @include mobile {
    width: 170px;
    height: 200px;
  }

  &-header {
    height: 15%;
    gap: 5px;
    align-items: center;
    display: flex;

    &.reduced-format {
      height: 20% !important;
    }

    &-creation {
      margin-right: 20px;
      display: flex;
      flex-direction: column;

      &-user {
        @include noTextOverflow(1);
      }

      &-date {
        color: $magneto-light-grey;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  &-image {
    height: 100%;
    width: 100%;
    text-align: center;

    .type-icon {
      height: 80%;
      margin: auto;
      object-fit: contain;
    }
  }

  &-preview {
    position: relative;
    height: 55%;

    img {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
    }

    &-image, &-file {
      border-radius: 10px;
    }

    &-video {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover !important;
    }

    audio {
      width: 100%;
      margin: auto;
    }

    &-text {
      @include noTextOverflow(999);
      margin-left: auto;
      margin-right: auto;
      height: 100%;
    }
  }

  &-type {
    background-color: $magneto-white;
    border: 5px solid $magneto-white;
    border-top-right-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    i {
      font-size: $spacing-M;
    }
  }

  &-avatar {
    margin-top: 0;
    padding: 5px 0;
    border-radius: 50%;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  &-infos {
    height: 20%;

    &-title {
      font-size: 16px;
      height: 10% !important;
      font-weight: bold;

      &-ellipsis {
        @include noTextOverflow(1);
      }

      &.reduced-format {
        height: 20% !important;
      }
    }

    &-locked {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 20px;
      color: #EFEFEF;
    }
  }

  &-caption {
    color: $magneto-black;
    font-style: italic;
    font-size: 0.9em;
    width: 90%;
    @include noTextOverflow(2);
  }

  &-description {
    @include noTextOverflow(2);
  }

  &-container {
    height: 75%;
    contain: content;
    display: flex;
    align-items: center;
  }

  i.magneto-card-settings {
    font-size: 25px;
    position: absolute;
    right: 5px;
  }
}