.card-list {
  background: $magneto-lighter-light-grey;
  gap: 16px;
  flex-wrap: wrap;

  &-free, &-vertical {
    justify-content: center;
  }

  &-horizontal {
    min-height: 75px;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  padding-top: 15px;

  @include mobile {
    padding-top: 60px;
  }

  @include paddingX(15px);
  &-scrollable {
    overflow-y: scroll;
    height: 55vh;
  }
}