.card-manage-lightbox {

  @include lightboxWidth(80%);

  .content {

    .card-manage-lightbox-head {

    }

    .card-manage-lightbox-body {
      &-resource {
        display: flex;
        justify-content: center;

        image-select {
          img {
            max-height: 170px;
            max-width: 170px;
            object-fit: contain;
          }
        }

        video {
          width: 302px;
          height: 170px;
        }

        &-file {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &-link {
          a {
            @include noTextOverflow(1);
          }
        }
      }

      &-title, &-caption {
        display: flex;
        align-items: center;

        i18n {
          font-weight: bold;
        }

        input {
          margin-left: $spacing-S;
          margin-bottom: 0 !important;
        }
      }

      &-description {
        &-padding {
          padding-top: 91px !important;
        }

        i18n {
          font-weight: bold;
        }

        .drawing-zone {
          overflow-y: scroll;
          height: 250px;
        }
      }
    }
  }

}