.search-bar {

  display: flex;
  border: solid 1px $primary;
  border-radius: 25px;
  height: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  i.magneto-magnify {
    font-size: 20px;
    align-self: center;
    margin-left: 5px;
    color: $magneto-grey;
  }

  input {
    width: 100%;
    height: inherit;
    border-bottom: none !important;
    box-shadow: none !important;
  }

}