.paramServices {


  .selectable-list {
    width: 80%;
    height: 100%;
    margin: auto;
  }

  .service-list-container{
    .serviceList {

      &.active {
        box-shadow: -0.2em 0 3px rgba(10, 10, 10, 0.2), 0.2em 0 3px rgba(10, 10, 10, 0.2);
      }
      padding-top: 0.6%;
      padding-bottom: 0.6%;
      border-top: 0.5px solid darkgrey;

      & > * {
        vertical-align: middle;
        display: inline-block !important;
      }

      & > label:not(.select) {
        text-align: center
      }

      .cellTab-left:first-child {
        padding-left: 1em;
      }
      .pencil, cancel{
        color: #FF8500;
      }
    }


    .subList{
      background-color: #f7f6f6;
      div{
        .tabulation{
          padding-left: 3em;
        }
      }
    }
    .serviceList:nth-child(2){
      box-shadow: inset 0 0.2em 3px  rgba(10, 10, 10, .2);
    }
  }
  .padding-top {
    padding-top: 5px;
  }

  .lightboxCreateCSS, .lightboxUpdate {
    margin: 20px;
  }

  .lightboxCreateCSS > .row:last-child > * {
    display: inline-block;
  }

  .lightboxUpdate > .row > * {
    display: inline-block;
    vertical-align: middle;
  }
  .labels-in-line {
    display: inline-flex;

    div {
      margin-left: 2px;
      display: inline-table;
      margin-right: 2px;
    }
  }
  .filterButton {

    & > * {
      margin: 0 10px 15px;
    }

    & > input {
      font-size: 1em;
      font-style: italic;
    }
  }
  .filter-down{
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #222222;
      position: absolute;
      margin-left: 0.5em;
      top: 50%;
      margin-top: -4px;
    }
  }
  .filter-up{
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 6px solid #222222;
      position: absolute;
      margin-left: 0.5em;
      top: 50%;
      margin-top: -4px;
    }
  }
  .svg-image{
    display: flex;
    align-items:center;

    input {
      padding-top: 5px;
    }
    .image-center{
      margin-left: 40%;
    }
    input,i{
      margin-left: 1em;
    }
  }

  .loaderCenter{
    margin: 0 45%;
  }
  .loaderArray {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  .filterButton{
    border-radius: 30em;
    background-color: white;
    color: #FF8500;
    border:solid 1px #FF8500;
    margin: 0.5em;
    padding: 5px 15px;
  }

  .selected{
    background-color: #FF8500;
    color: white;
  }

  .tab-header{
    position: -webkit-sticky;
    position: sticky;
    background: white;
    left: 355.5px;
    top: 64px;
    margin-top: 0;
    height: 50px;
    z-index: 2;
  }

  .filterArea{
    input{
      border: none; /* <-- Mandatory  */
      border:solid 1px #ccc;
      border-radius: 10px;
      margin-right: 10em ;
    }
    select{
      border-radius: 5px;
    }
  }

  .trash {
    padding: 10px;
  }
  .service-tab-header-center{
    text-align: center;
  }
  .service-tab-header-left{
    text-align: left;
  }
  .cellTab-center{
    text-align: center;
    div > span [tooltips]{
      background-color: white;
      color: black;
    }
  }

  .pencil{
    color: #FF8500;
  }
  .lightboxCreate {
    ul {
      padding-left: 1.33em;
      margin-top: 0.4em;

      li {
        font-size: 1.2em;
        list-style-type: none;
        padding-top: 10px;
      }
    }

    .buttonAbsolute {
      bottom: 0;
      position: absolute;
      right: 0;

    }

    .fullBorder {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important;
    }

    .buttonMargin {
      margin-top: 10px
    }
  }

  .remplacement-separator {
    width: 100%;
    height: 0.5px;
    padding: 0;
    background: lightgrey;
  }

  .selectedMultiBox {
    .selected{
      background-color: unset;
    }
    font-size: 16px;
  }

}