infotip {
  position: relative;
  display: none;
  i.close {
    transition: color 250ms ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    &:hover {
      color: $accent;
    }
  }

  @media screen and (max-width: $tablette) {
    &.info {
      width: auto !important;
      right: 0 !important;
      bottom: 0 !important;
      z-index: 99999 !important;
      margin-bottom: 0 !important;
    }
  }
}

.alert,
.warning,
.info,
.success {
  padding: 15px 30px 15px 15px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  max-width: 100%;
  i.warning,
  i.check-circle {
    border: 0;
    padding: 0;
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.alert {
  color: $warning-color;
  background: lighten($warning-color, 35%);
}

.warning {
  color: $warning-color-hover;
  background: lighten($warning-color-hover, 55%);
  i.warning {
    color: $warning-color;
  }
}

.info {
  color: $primary;
  background: lighten($primary, 35%);

  i.check-circle {
    color: $primary;
  }
}
