library-prompt {
    z-index: 100001 !important;
    position: relative;
    .close-lightbox{
        display: none;
    }
    .ignore{
        position: absolute;
        right: 0px;
        font-size: 13px;
    }
    lightbox{
        .content{
            border: 10px solid $primary;
            .apps {
                display: flex;
                padding-left: 5%;
                .container {
                    padding-right: 50px;
                }
                .content1 {
                    font-size:19px;
                }
                i {
                    font-size: 100px;
                }
                img {
                    margin-left: auto;
                    margin-right: auto;
                    display: table-cell;
                    padding-top: 20px;
                }
            }
            p {
                line-height: 25px;
                padding-left: 10%;
                text-align: center;
            }
            hr {
                width: unset;
            }
        }
    }
}