@media screen and (min-width: $wide-screen) {
    .profil-flex {
        .email-ellipsis {
            // @include cell-ellipsis;
            max-width: 410px;
        }
    }
}

@media screen and (min-width: $fat-tablette) and (max-width: $wide-screen) {
    .profil-flex {
        .email-ellipsis {
            // @include cell-ellipsis;
            max-width: 310px;
        }
    }
}

@media screen and (min-width: $tablette) and (max-width: $fat-tablette) {
    .profil-flex {
        .email-ellipsis {
            // @include cell-ellipsis;
            max-width: 180px;
        }
    }
}

@media screen and (min-width: $fat-mobile) and (max-width: $tablette) {
    .profil-flex {
        .email-ellipsis {
            // @include cell-ellipsis;
            max-width: 250px;
        }
    }
}

@media screen and (max-width: $fat-mobile) {
    .profil-flex {

        flex-wrap: wrap;

        .four {
            flex: 100%;
        }

        .email-ellipsis {
            // @include cell-ellipsis;
            max-width: 150px;
        }

        .one {
            margin-right: 12px;
            flex: 0;
            width: auto;
            align-items: center;
        }

        .seven {
            width: auto;
            flex: 1;
        }
    }
}

.h2-hobbies {
    margin-bottom: 10px!important;
}

.bloc-hobbies {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.unlock-flex {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    font-weight: 700;

    .icon-lock {
        margin-top: 3px;
        margin-right: 5px;
    }
}

.unlock {
    color: #2A9CC8;

    &:hover {
        color: #2A9CC8;
    }

    .icon-lock {
        color: #2A9CC8;
    }

    &-disabled[disabled] {
        color: #B2DAEF;

        &:hover {
            color: #B2DAEF;
        }

        .icon-lock {
            color: #B2DAEF;
        }
    }
}

.profil-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    .four {
        font-weight: bold;
    }

    .flex-flow {
        flex-flow: wrap;
    }

    em {
        color: #8c939e;
    }

    .one {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
    }

    .email-ellipsis {
        margin-right: 20px;
    }

    .email-ellipsis + .icon-verified {
        margin-right: 20px;
        padding-top: calc((22px - 16px) / 2);
    }

    input[type=text]:placeholder-shown {
        text-overflow: ellipsis;
    }

}