@media screen and (min-width: $wide-screen) {
    .profil-flex {
        .email-ellipsis {
            @include cell-ellipsis;
            max-width: 410px;
        }
    }
}

@media screen and (min-width: $fat-tablette) and (max-width: $wide-screen) {
    .profil-flex {
        .email-ellipsis {
            @include cell-ellipsis;
            max-width: 310px;
        }
    }
}

@media screen and (min-width: $tablette) and (max-width: $fat-tablette) {
    .profil-flex {
        .email-ellipsis {
            @include cell-ellipsis;
            max-width: 180px;
        }
    }
}

@media screen and (min-width: $fat-mobile) and (max-width: $tablette) {
    .profil-flex {
        .email-ellipsis {
            @include cell-ellipsis;
            max-width: 250px;
        }
    }
}

@media screen and (max-width: $fat-mobile) {
    .profil-flex {
        .email-ellipsis {
            @include cell-ellipsis;
            max-width: 150px;
        }
    }
}

.h2-hobbies {
    margin-bottom: 10px!important;
}

.bloc-hobbies {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profil-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flex-flow {
        flex-flow: wrap;
    }

    em {
        color: #8c939e;
    }

    .one {
        display: flex;
        justify-content: center;
    }

    .email-ellipsis {
        margin-right: 20px;
    }

    .email-ellipsis + .icon-verified {
        margin-right: 20px;
    }

    input[type=text]:placeholder-shown {
        text-overflow: ellipsis;
    }
}