.search-pagination {
  //input + i[class*="search"]{
  input + i.search {
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(-1);
    height: 100%;
    color: $primary;
    margin-right: 0;
    margin-top: 0;
    padding: 0 10px;
    font-size: 22px;
    @include run-transition(all);
    &:hover {
      color: $accent;
    }
  }
  @include placeholder {
    color: #ccc;
    font-size: 15px;
    font-family: Roboto;
    font-style: italic;
    letter-spacing: 1px;
  }
}
