.embedded-viewer {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  input {
    margin: 0 !important;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  video {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  i {
    margin-left: 3px;
    margin-right: 3px;
    &.close::before {
      font-size: 28px;
      float: right;
      padding-right: 10px;
    }
  }
  .default-viewer {
    padding: 30px;
    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .controls {
    height: 60px;
    &__navbar {
      position: sticky;
      top: 0;
      z-index: 999;
      background-color: white;
      padding: 15px;
      border-bottom: 1px solid $shadow-light;
      box-shadow: 1px 1px 10px $shadow-light;
      button {
        margin-bottom: 0;
      }
      @media screen and (max-width: $tablette) {
        flex-direction: column;
        align-items: flex-start;
        div:nth-of-type(2) {
          align-self: flex-end;
        }
      }
    }
  }
  .file {
    box-sizing: border-box;
    padding: 15px;
  }
  .pagination__area {
    position: fixed;
    right: 55px;
    background-color: white;
    padding: 10px;
    margin-top: -15px;
    .file-controls {
      padding: 5px 10px;
      &:hover * {
        color: $primary;
      }
    }
    @media screen and (max-width: $tablette) {
      position: absolute;
      right: -15px;
    }
  }
}

.embedded-viewer.fullscreen {
  background-color: white;
  z-index: 100101;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  padding: 0;
  .controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 60px;
    padding-right: 10px;
    box-shadow: 1px 1px 10px $shadow-light;
  }
  .pagination__area {
    position: fixed;
    left: 30px;
    top: 15px;
    right: inherit;
    height: 60px;
    padding: 0;
  }
}

.fullscreen-viewer {
  position: absolute;
  z-index: 100001;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 60px;
  left: 0;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  .render {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    position: initial;
  }
}

pdf-viewer {
  display: block;
  width: 100%;
  position: relative;
  canvas {
    max-width: 100%;
  }
}

.editor-view {
  .viewer {
    .media {
      opacity: 0.3;
      cursor: inherit;
    }
    .drawing-grid.editor {
      .media {
        opacity: 1;
      }
    }
    .media.sub-grid {
      opacity: 1;
    }
    video {
      width: 100%;
    }
  }
}

.viewer {
  box-sizing: content-box;
  width: 100%;
  margin-left: -80px;
  padding-left: 80px;
  .viewer {
    margin-left: 0;
  }
  .media {
    outline: none;
    cursor: default;
  }
  .drawing-grid.editor {
    .media {
      border: 1px dotted black;
    }
  }
  nav.vertical {
    padding: 0;
  }
}

.drawing-grid {
  .viewer {
    padding-left: 0;
  }
}
