i {
  &.magneto-magnet::before {
    font-family: 'magneto-mdi';
    content: '\F0347';
  }

  &.magneto-calendar::before {
    font-family: 'magneto-mdi';
    content: '\F00EE';
  }

  &.magneto-sort-alphabetical::before {
    font-family: 'magneto-mdi';
    content: '\F04BB';
  }

  &.magneto-filter::before {
    font-family: 'magneto-mdi';
    content: '\F0232';
  }

  &.magneto-view-list::before {
    font-family: 'magneto-mdi';
    content: '\F0572';
  }

  &.magneto-view-module::before {
    font-family: 'magneto-mdi';
    content: '\F0573';
  }

  &.magneto-folder::before {
    font-family: 'magneto-mdi';
    content: '\F024B';
  }

  &.magneto-folder-plus::before {
    font-family: 'magneto-mdi';
    content: '\F0257';
  }

  &.magneto-check-decagram::before {
    font-family: 'magneto-mdi';
    content: '\F0791';
  }

  &.magneto-share-variant::before {
    font-family: 'magneto-mdi';
    content: '\F0497';
  }

  &.magneto-delete-forever::before {
    font-family: 'magneto-mdi';
    content: '\F05E8';
  }

  &.magneto-chevron-right::before {
    font-family: 'magneto-mdi';
    content: '\F0142';
  }

  &.magneto-chevron-left::before {
    font-family: 'magneto-mdi';
    content: '\F0141'
  }

  &.magneto-chevron-down::before {
    font-family: 'magneto-mdi';
    content: '\F0140'
  }

  &.magneto-magnify::before {
    font-family: 'magneto-mdi';
    content: '\F0349';
  }

  &.magneto-folder-open::before {
    font-family: 'magneto-mdi';
    content: '\F0770';
  }

  &.magneto-card-settings::before {
    font-family: 'magneto-mdi';
    content: '\F01D9';
  }

  &.magneto-text::before {
    font-family: 'magneto-mdi';
    content: '\F027F';
    transform: scaleX(-1);
  }

  &.magneto-image::before {
    font-family: 'magneto-mdi';
    content: '\F02E9';
  }

  &.magneto-video::before {
    font-family: 'magneto-mdi';
    content: '\F040C';
  }

  &.magneto-file::before {
    font-family: 'magneto-mdi';
    content: '\F0222';
  }

  &.magneto-link::before {
    font-family: 'magneto-mdi';
    content: '\F0337';
  }

  &.magneto-card::before {
    font-family: 'magneto-mdi';
    content: '\F196C';
  }

  &.magneto-audio::before {
    font-family: 'magneto-mdi';
    content: '\F0387';
  }

  &.magneto-settings::before {
    font-family: 'magneto-mdi';
    content: '\F0493';
  }

  &.magneto-edit::before {
    font-family: 'magneto-mdi';
    content: '\F03EB'
  }

  &.magneto-duplicate::before {
    font-family: 'magneto-mdi';
    content: '\F1032'
  }

  &.magneto-hide::before {
    font-family: 'magneto-mdi';
    content: '\F0209'
  }

  &.magneto-show::before {
    font-family: 'magneto-mdi';
    content: '\F0208'
  }

  &.magneto-delete::before {
    font-family: 'magneto-mdi';
    content: '\F01B4'
  }

  &.magneto-arrow-left::before {
    font-family: 'magneto-mdi';
    content: '\F030D'
  }

  &.magneto-check-circle::before {
    font-family: 'magneto-mdi';
    content: '\F05E0';
  }

  &.magneto-crown::before {
    font-family: 'magneto-mdi';
    content: '\F01A5';
  }

  &.magneto-earth::before {
    font-family: 'magneto-mdi';
    content: '\F01E7';
  }

  &.magneto-card-preview::before {
    font-family: 'magneto-mdi';
    content: '\F0E82';
  }

  &.magneto-card-move::before {
    font-family: 'magneto-mdi';
    content: '\F1682';
  }

  &.magneto-display-free::before {
    font-family: 'magneto-mdi';
    content: '\F148E';
  }

  &.magneto-display-vertical::before {
    font-family: 'magneto-mdi';
    content: '\F1491';
  }

  &.magneto-display-horizontal::before {
    font-family: 'magneto-mdi';
    content: '\F1490';
  }

  &.magneto-play::before {
    font-family: 'magneto-mdi';
    content: '\F040A';
  }

  &.magneto-lock::before {
    font-family: 'magneto-mdi';
    content: '\F033E';
  }

  &.magneto-unlock::before {
    font-family: 'magneto-mdi';
    content: '\F033F';
  }
}