i {
  &.visible:before {
    font-family: 'material-icons';
    content: "\F208";
  }

  &.invisible:before {
    font-family: 'material-icons';
    content: "\F6D0";
  }

  &.delete:before {
    font-family: 'material-icons';
    content: "\F5AD";
  }

  &.edit:before {
    font-family: 'material-icons';
    content: '\F3EB';
  }
}