perform-order .answer {
  line-height: 25px;
  min-height: 40px;
}

edit-order input[type="text"] {
  margin-bottom: 0;
  margin-top: 6px;
}

perform-order,
edit-order {
  ul.thought-out-actions > li:hover {
    color: #fff;

    .order-index {
      background-color: white;
      color: $primary;
    }
  }
}
